@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Trailers";
}

<body>
    <div class="admin">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title">
                        <h1>@Localizer["Trailers"]</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="tabs">
                        <div class="tab" onclick="window.location.href='@Url.Action("Trucks", "Settings")';">@Localizer["Trucks"]</div>
                        <div class="tab whiteborder" onclick="window.location.href='@Url.Action("CreateTrailer", "Settings")';">@Localizer["Trailers"]</div>
                        <div class="tabContent">
                            <table>
                                <thead>
                                    <tr>
                                        <th>@Localizer["Name"]</th>
                                        <th>@Localizer["Type"]</th>
                                        <th>@Localizer["Year"]</th>
                                        <th>@Localizer["Make"]</th>
                                        <th>@Localizer["HowLong"]</th>
                                        <th>@Localizer["Color"]</th>
                                        <th>@Localizer["Plate"]#</th>
                                        <th>@Localizer["PlateExp"]</th>
                                        <th>Vin #</th>
                                        <th>@Localizer["Owner"]</th>
                                        <th>@Localizer["AnnualIns"]</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < ViewBag.Trailers.Count; i++)
                                    {
                                        <tr>
                                            <td>@ViewBag.Trailers[i].Name</td>
                                            <td>@ViewBag.Trailers[i].Type</td>
                                            <td>@ViewBag.Trailers[i].Year</td>
                                            <td>@ViewBag.Trailers[i].Make</td>
                                            <td>@ViewBag.Trailers[i].HowLong</td>
                                            <td>@ViewBag.Trailers[i].Color</td>
                                            <td>@ViewBag.Trailers[i].Plate</td>
                                            <td>@ViewBag.Trailers[i].Exp</td>
                                            <td>@ViewBag.Trailers[i].Vin</td>
                                            <td>@ViewBag.Trailers[i].Owner</td>
                                            <td>@ViewBag.Trailers[i].AnnualIns</td>
                                            <td>
                                                <img src="~/img/setting.svg" alt="" onclick="window.location.href='@ViewBag.BaseUrl/Settings/Get?idTr=@ViewBag.Trailers[i].Id&page=s&idProfile=0&typeTransport=Trailer'">
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>