@using Microsoft.AspNetCore.Mvc.Localization

@model List<DaoModels.DAO.Models.Truck>

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Trucks";
}

<body>
    <div class="admin">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title">
                        <h1>@Localizer["Trucks"]</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="tabs">
                        <div class="tab whiteborder" onclick="window.location.href='@Url.Action("Trucks", "Settings")';">@Localizer["Trucks"]</div>
                        <div class="tab" onclick="window.location.href='@Url.Action("Trailers", "Settings")';">@Localizer["Trailers"]</div>
                        <div class="tabContent">
                            <table>
                                <thead>
                                    <tr>
                                        <th>@Localizer["Name"]</th>
                                        <th>@Localizer["Year"]</th>
                                        <th>@Localizer["Make"]</th>
                                        <th>@Localizer["Model"]</th>
                                        <th>@Localizer["Type"]</th>
                                        <th>Vin #</th>
                                        <th>@Localizer["Plate"]#</th>
                                        <th>@Localizer["PlateExp"]</th>
                                        <th>@Localizer["State"]</th>
                                        <th>@Localizer["Color"]</th>
                                        <th>@Localizer["Owner"]</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < Model.Count; i++)
                                    {
                                        <tr>
                                            <td>@Model[i].Name</td>
                                            <td>@Model[i].Year</td>
                                            <td>@Model[i].Brand</td>
                                            <td>@Model[i].Model</td>
                                            @* <td>@Model[       i].Type</td> *@
                                            <td>@Model[i].VIN</td>
                                            <td>@Model[i].Plate</td>
                                            <td>@Model[i].PlateExpires</td>
                                            <td>@Model[i].State</td>
                                            <td>@Model[i].Color</td>
                                            <td>@Model[i].Owner</td>
                                            <td>
                                                <img src="~/img/setting.svg" alt="" onclick="window.location.href='@ViewBag.BaseUrl/Settings/Get?idTr=@Model[i].Id&page=s&idProfile=0&typeTransport=Truck'">
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>