@using Microsoft.AspNetCore.Mvc.Localization

@model WebDispacher.ViewModels.Contact.ContactViewModel

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Create Contact";
}

<body>
    <div class="admin">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="tabContent">
                        <h2>@Localizer["InfoAboutContact"]</h2>
                        <form action="" method="post">
                            <div class="validation" asp-validation-summary="ModelOnly"></div>
                            <label for="">
                                <label class="mb-0" asp-for="Name"></label>
                                <input type="text" name="Name" required>
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </label>
                            <label for="">
                                <label class="mb-0" asp-for="Email"></label>
                                <input type="email" name="Email" required>
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </label>
                            <label for="">
                                <label class="mb-0" asp-for="Phone"></label>
                                <input type="text" name="Phone" placeholder="XXXXXXXXXX" pattern="[0-9]{4,12}" required>
                                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                            </label>
                            <input class="btn1" type="submit" value="@Localizer["Save"]" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>