@using Microsoft.AspNetCore.Mvc.Localization

@model List<DaoModels.DAO.Models.Contact>

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "All Contacts";
}

<body>
    <div class="admin">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title">
                        <h1>@Localizer["Contacts"]</h1>
                        <button class="btn1" onclick="window.location.href='@Url.Action("CreateContact", "Contact")';">@Localizer["AddContact"]</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    @for (var i = 0; i < Model.Count; i++)
                    {
                        <div class="one-line">
                            <div class="top-line">
                                <div class="left">
                                    <div class="contact">
                                        <p class="text-p"><strong>@Model[i].Name</strong></p>
                                        <p class="text-p"><b>@Localizer["Email"]: </b><a class="font-weight-medium" href="@Model[i].Email"> @Model[i].Email</a></p>
                                        <p class="text-p"><b>@Localizer["Position"]: </b><a class="font-weight-medium" href="@Model[i].Position"> @Model[i].Position</a></p>
                                        @{
                                            var phone = string.Empty;
                                            if (Model[i]?.PhoneNumber.DialCode != 0 && !string.IsNullOrEmpty(Model[i]?.PhoneNumber.Number))
                                            {
                                                phone = $"+{Model[i].PhoneNumber.DialCode} {Model[i].PhoneNumber.Number}";
                                            }
                                        }
                                        <p class="text-p">
                                            <b>@Localizer["Phone"]:  </b><a class="font-weight-medium" href="tel:@phone">@phone</a>
                                            <b class="ml-1">@Localizer["Ext"].  </b>  <a class="font-weight-medium " href="tel:@Model[i].Ext">@Model[i].Ext</a>
                                        </p>
                                    </div>
                                </div>
                                <div class="right">
                                    <a class="btn3" href="@ViewBag.BaseUrl/Contact/Edit?id=@Model[i].Id">@Localizer["Edit"]</a>
                                    <a class="btn3 open-ConfirmDelete" data-toggle="modal" data-id="@Model[i].Id" href="#confirmDeleteEntryModal">@Localizer["Delete"]</a>
                                </div>
                            </div>
                        </div>
                    }
                    <pagination-list actual-pages="functions.GetPages(ViewBag.SelectedPage, ViewBag.CountPages)" selected-page="ViewBag.SelectedPage" />
                </div>
            </div>
        </div>
    </div>
    @await Html.PartialAsync("~/Views/PartView/Modals/ConfirmDelete.cshtml",  new ViewDataDictionary(ViewData) { {"ModalId", "confirmDeleteEntryModal"},});
</body>

<script>
    ConfirmRemoveEntry(GetDateTimeInFormat(new Date()), `/Contact/Delete`, `/Contact/Contacts`, '#confirmDeleteEntryModal');

     $(document).ready(function () {
            ShowAlert();
     });
</script>

<style>
    .font-weight-normal {
        font-weight: 500;
    }

    .text-p {
        font-size: 20px;
    }
</style>