@using Microsoft.AspNetCore.Mvc.Localization
@using WebDispacher.Constants;

@inject IViewLocalizer Localizer
@model WebDispacher.ViewModels.Trailer.TrailerViewModel;
@{
    ViewData["Title"] = "Create Trailer";
}

<body>
    <div class="admin truc">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="tabContent">
                        <div class="title">
                            <a href="#" onclick="history.back();">@Localizer["BackToEquipment"]</a>
                        </div>
                        <div class="title">
                            <h1 class="text-info-header-1">@Localizer["AddNewTrailer"]</h1>
                        </div>
                        <form onsubmit="formatBeforeSubmit();" action="" method="post" enctype="multipart/form-data">
                            @Html.ValidationSummary()
                            <label class="big-label" for="">
                                @Localizer["NameTrailer"]
                                <input type="text" class="height-input" id="name" asp-for="Name" maxlength="25">
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </label>
                            <label class="big-label" for="">
                                @Localizer["Year"]
                                <input type="text" class="height-input" id="year" asp-for="Year" maxlength="4">
                                @Html.ValidationMessageFor(model => model.Year, "", new { @class = "text-danger" })
                            </label>
                             <label class="big-label" for="">
                                @Localizer["Make"]
                                <input type="text" id="make" class="height-input" asp-for="Make" maxlength="15">
                                @Html.ValidationMessageFor(model => model.Make, "", new { @class = "text-danger" })
                            </label>
                            <label class="big-label" for="">
                                @Localizer["Model"]
                                <input type="text" id="model" class="height-input" asp-for="Model" maxlength="20">
                                @Html.ValidationMessageFor(model => model.Model, "", new { @class = "text-danger" })
                            </label>
                            <label class="big-label" for="">
                                @Localizer["TypeTrailer"] <br />
                                <select class="height-input input-select" asp-for="Type" onchange="SelectTrailer(this.options[this.selectedIndex].value)">
                                    <option value="">@Localizer["ChooseTrailerType"]</option>
                                    <option value="Bumperpool2CarEeclosedTraile">Bumperpool 2 Car Eeclosed Traile</option>
                                    @*<option value="GooseneckTrailerTwoVehicles">Gooseneck trailer for two vehicles</option>
                                        <option value="EnclosedTrailerTwoVehicles">Enclosed trailer for two vehicles</option>
                                        <option value="a1CarGooseneckTrailer">1 Car Gooseneck Trailer</option>
                                        <option value="A3CarEnclosedGooseneckTrailer">3 Car Enclosed Gooseneck Trailer</option>
                                        <option value="Bumperpook24_34ftFlatbed">Bumperpook 24_34ft Flatbed</option>
                                        <option value="Bumperpool1CarEnclosedTrailer">Bumperpool 1 Car Enclosed Trailer</option>
                                        <option value="Bumperpool2CarEnclosedTraile">Bumperpool 2 Car Enclosed Traile</option>
                                        <option value="Bumperpool16_20FtFlatbed">Bumperpool 16_20Ft Flatbed</option>
                                        <option value="CarEnclosedTrailer">Car Enclosed Trailer</option>
                                        <option value="Gooseneck3CarLowTrailer">Gooseneck 3 Car Low Trailer</option>
                                        <option value="Gooseneck24-34FtFlatbed">Gooseneck 24_34 Ft Flatbed</option>
                                        <option value="Gooseneck3CarWedgeTrailer">Gooseneck 3 Car Wedge Trailer</option>
                                        <option value="Gooseneck5CarOpenTrailer">Gooseneck 5 Car Open Trailer</option>
                                        <option value="Gooseneck6CarOpenTrailer">Gooseneck 6 Car Open Trailer</option>
                                        <option value="BumperPool2CarTrailer">Bumper Pool 2 Car Trailer</option>*@
                                </select>
                                @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
                            </label>
                            <label class="big-label" for="">
                                @Localizer["HowLong"]
                                <input type="text" class="height-input" asp-for="HowLong" maxlength="5">
                                @Html.ValidationMessageFor(model => model.HowLong, "", new { @class = "text-danger" })
                            </label>
                            <label class="big-label" for="">
                                @Localizer["Vin"]#
                                <input type="text" class="height-input" asp-for="Vin" maxlength="17">
                                @Html.ValidationMessageFor(model => model.Vin, "", new { @class = "text-danger" })
                            </label>
                            <label class="big-label" for="">
                                @Localizer["PlateTrailer"] #
                                <input type="text" class="height-input" asp-for="Plate" maxlength="10">
                                @Html.ValidationMessageFor(model => model.Plate, "", new { @class = "text-danger" })
                            </label>
                            <label class="big-label" for="">
                                @Localizer["PlateExpTrailer"]
                                <input type="text" class="height-input" id="plateExp" asp-for="Exp" pattern="[0-9]{2}/[0-9]{2}">
                                @Html.ValidationMessageFor(model => model.Plate, "", new { @class = "text-danger" })
                            </label>
                            <label class="big-label" for="">
                                @Localizer["Color"]
                                <input type="text" id="color" class="height-input" asp-for="Color" maxlength="15">
                                @Html.ValidationMessageFor(model => model.Color, "", new { @class = "text-danger" })
                            </label>
                            <label class="big-label" for="">
                                @Localizer["AnnualIns"]
                                <input type="text" class="height-input" asp-for="AnnualIns" maxlength="12">
                                @Html.ValidationMessageFor(model => model.AnnualIns, "", new { @class = "text-danger" })
                            </label>
                            <label class="big-label" for="">
                                @Localizer["Owner"]
                                <input type="text" id="owner" class="height-input" asp-for="Owner" maxlength="25">
                                @Html.ValidationMessageFor(model => model.Owner, "", new { @class = "text-danger" })
                            </label>
                            <div class="full-label">
                                <p class="a-label">@Localizer["DocTrailerReg"]</p>
                                <a class="pt-1 pb-1">@Localizer["InfoMessageUploadFiles"]</a>
                                <div>
                                    <div class="file-group big-label">
                                        <div class="row">
                                            <div class="col-8 label-input d-flex align-items-center">
                                                <div onclick="ClearFile(`fi1`, 'fl1');" class="fi" id="fl1"></div>
                                            </div>
                                            <div class="col-4 select-doc">
                                                <div class="select-button-1 d-flex justify-content-end">
                                                    <label>
                                                        @Localizer["SelectDoc"]
                                                        <input class="height-input" id="fi1" type="file" onchange="GetFileName(this.value, 'fl1');" name="trailerRegistrationDoc" accept="application/pdf, image/jpeg, image/jpg">
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="file-limit-exceeded text-danger"></p>
                                </div>
                            </div>
                            <div class="full-label">
                                <p class="a-label">@Localizer["DocLeaseAgreement"]</p>
                                <a class="pt-1 pb-1">@Localizer["InfoMessageUploadFiles"]</a>
                                <div>
                                    <div class="file-group big-label">
                                        <div class="row">
                                            <div class="col-8 label-input d-flex align-items-center">
                                                <div onclick="ClearFile(`fi2`, 'fl2');" class="fi" id="fl2"></div>
                                            </div>
                                            <div class="col-4 select-doc">
                                                <div class="select-button-1 d-flex justify-content-end">
                                                    <label>
                                                        @Localizer["SelectDoc"]
                                                        <input class="height-input" id="fi2" type="file" onchange="GetFileName(this.value, 'fl2');" name="leaseAgreementDoc" accept="application/pdf, image/jpeg, image/jpg">
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="file-limit-exceeded text-danger"></p>
                                </div>
                            </div>
                            <div class="full-label">
                                <p class="a-label">@Localizer["DocTrailerAnnualIns"]</p>
                                <a class="pt-1 pb-1">@Localizer["InfoMessageUploadFiles"]</a>
                                <div>
                                    <div class="file-group big-label">
                                        <div class="row">
                                            <div class="col-8 label-input d-flex align-items-center">
                                                <div onclick="ClearFile(`fi3`, 'fl3');" class="fi" id="fl3"></div>
                                            </div>
                                            <div class="col-4 select-doc">
                                                <div class="select-button-1 d-flex justify-content-end">
                                                    <label>
                                                        @Localizer["SelectDoc"]
                                                        <input class="height-input" id="fi3" type="file" onchange="GetFileName(this.value, 'fl3');" name="trailerAnnualInspectionDoc" accept="application/pdf, image/jpeg, image/jpg">
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="file-limit-exceeded text-danger"></p>
                                </div>
                            </div>
                            <input type="hidden" value="" name="dateTimeLocal" />
                            <button class="height-input btn1 big-label big-font-size">@Localizer["SaveInfo"]</button>
                        </form>
                    </div>
                </div>
                <div class="col-md-6">
                    <div id="Bumperpool2CarEeclosedTraile" class="row" style="display:none;">
                        <div class="col-md-auto">
                            <img src="@ViewBag.BaseUrl/Equipment/Image?name=../TrailerPattern/Bumperpool2CarEeclosedTraile/Bumperpool2CarEeclosedTraile1.png&type=png" alt="">
                        </div>
                        <div class="col-md-auto">
                            <img src="@ViewBag.BaseUrl/Equipment/Image?name=../TrailerPattern/Bumperpool2CarEeclosedTraile/Bumperpool2CarEeclosedTraile2.png&type=png" alt="">
                        </div>
                        <div class="col-md-auto">
                            <img src="@ViewBag.BaseUrl/Equipment/Image?name=../TrailerPattern/Bumperpool2CarEeclosedTraile/Bumperpool2CarEeclosedTraile3.png&type=png" alt="">
                        </div>
                        <div class="col-md-auto">
                            <img src="@ViewBag.BaseUrl/Equipment/Image?name=../TrailerPattern/Bumperpool2CarEeclosedTraile/Bumperpool2CarEeclosedTraile4.png&type=png" alt="">
                        </div>
                        <div class="col-md-auto">
                            <img src="@ViewBag.BaseUrl/Equipment/Image?name=../TrailerPattern/Bumperpool2CarEeclosedTraile/Bumperpool2CarEeclosedTraile5.png&type=png" alt="">
                        </div>
                        <div class="col-md-auto">
                            <img src="@ViewBag.BaseUrl/Equipment/Image?name=../TrailerPattern/Bumperpool2CarEeclosedTraile/Bumperpool2CarEeclosedTraile6.png&type=png" alt="">
                        </div>
                        <div class="col-md-auto">
                            <img src="@ViewBag.BaseUrl/Equipment/Image?name=../TrailerPattern/Bumperpool2CarEeclosedTraile/Bumperpool2CarEeclosedTraile7.png&type=png" alt="">
                        </div>
                        <div class="col-md-auto">
                            <img src="@ViewBag.BaseUrl/Equipment/Image?name=../TrailerPattern/Bumperpool2CarEeclosedTraile/Bumperpool2CarEeclosedTraile8.png&type=png" alt="">
                        </div>
                        <div class="col-md-auto">
                            <img src="@ViewBag.BaseUrl/Equipment/Image?name=../TrailerPattern/Bumperpool2CarEeclosedTraile/Bumperpool2CarEeclosedTraile9.png&type=png" alt="">
                        </div>
                        <div class="col-md-auto">
                            <img src="@ViewBag.BaseUrl/Equipment/Image?name=../TrailerPattern/Bumperpool2CarEeclosedTraile/Bumperpool2CarEeclosedTraile10.png&type=png" alt="">
                        </div>
                        <div class="col-md-auto">
                            <img src="@ViewBag.BaseUrl/Equipment/Image?name=../TrailerPattern/Bumperpool2CarEeclosedTraile/Bumperpool2CarEeclosedTraile11.png&type=png" alt="">
                        </div>
                        <div class="col-md-auto">
                            <img src="@ViewBag.BaseUrl/Equipment/Image?name=../TrailerPattern/Bumperpool2CarEeclosedTraile/Bumperpool2CarEeclosedTraile12.png&type=png" alt="">
                        </div>
                        <div class="col-md-auto">
                            <img src="@ViewBag.BaseUrl/Equipment/Image?name=../TrailerPattern/Bumperpool2CarEeclosedTraile/Bumperpool2CarEeclosedTraile13.png&type=png" alt="">
                        </div>
                        <div class="col-md-auto">
                            <img src="@ViewBag.BaseUrl/Equipment/Image?name=../TrailerPattern/Bumperpool2CarEeclosedTraile/Bumperpool2CarEeclosedTraile14.png&type=png" alt="">
                        </div>
                        <div class="col-md-auto">
                            <img src="@ViewBag.BaseUrl/Equipment/Image?name=../TrailerPattern/Bumperpool2CarEeclosedTraile/Bumperpool2CarEeclosedTraile15.png&type=png" alt="">
                        </div>
                        <div class="col-md-auto">
                            <img src="@ViewBag.BaseUrl/Equipment/Image?name=../TrailerPattern/Bumperpool2CarEeclosedTraile/Bumperpool2CarEeclosedTraile16.png&type=png" alt="">
                        </div>
                        <div class="col-md-auto">
                            <img src="@ViewBag.BaseUrl/Equipment/Image?name=../TrailerPattern/Bumperpool2CarEeclosedTraile/Bumperpool2CarEeclosedTraile17.png&type=png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    function formatBeforeSubmit() {
        const input = document.getElementById('plateExp');
        const parts = input.value.split('/');
        if (parts.length === 2) {
            input.value = parts[0] + '.01.' + '.20' + parts[1];
        }
    }
</script>

<script src="~/js/input-replacer.js"></script>
<script>
    setReplacer(document.querySelector('#year'), @ExpressionConstants.OnlyLetters);
    setReplacer(document.querySelector('#name'), @ExpressionConstants.OnlyDigits);
    setReplacer(document.querySelector('#make'), @ExpressionConstants.OnlyDigits);
    setReplacer(document.querySelector('#model'), @ExpressionConstants.OnlyDigits);
    setReplacer(document.querySelector('#color'), @ExpressionConstants.OnlyDigits);
    setReplacer(document.querySelector('#owner'), @ExpressionConstants.OnlyDigits);

     $(function () {
        $("#plateExp").mask("99/99", { placeholder: "MM/YY" });
    });

    $("#fi1").change(function () {
        CheckValid('fl1', 'fi1');
    });

    $("#fi2").change(function () {
        CheckValid('fl2', 'fi2');
    });

    $("#fi3").change(function () {
        CheckValid('fl3', 'fi3');
    });

    $(".big-font-size").on('click', function () {
        CheckValid('fl1', 'fi1');
        CheckValid('fl2', 'fi2');
        CheckValid('fl3', 'fi3');

        dateInput.value = GetDateTimeInFormat(new Date());
    });

    $(function(){
        $("#plateExp").mask("99/99", { placeholder: "MM/YY" });
    });

    var curentSelectPattern;

    function SelectTrailer(value) {
        if (curentSelectPattern || value == "") {
            curentSelectPattern.style.display = "none";
        }
        let selectTypeDiv = document.getElementById(value);
        if (selectTypeDiv) {
            selectTypeDiv.style.display = "flex";
            curentSelectPattern = selectTypeDiv;
        }
    }
</script>