<body>
    <div class="admin truc">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="tabContent">
                        <div class="title">
                                    <a href="#" onclick="history.back();">Back to Equipment</a>
                                </div>
                        <div class="title">
                            <h1 class="text-info-header-1">Add New Trailer</h1>
                        </div>
                        <form action="" method="post" enctype="multipart/form-data">
                            <label class="big-label" for="">
                                Name Trailer
                                <input type="text" class="height-input" name="Name" required>
                            </label>
                            <label class="big-label" for="">
                                Type Trailer <br />
                                <select class="height-input input-select" name="Type" onchange="SelectTrailer(this.options[this.selectedIndex].value)" required>
                                    <option value="">Choose a trailer type</option>
                                    <option value="Bumperpool2CarEeclosedTraile">Bumperpool 2 Car Eeclosed Traile</option>
                                    @*<option value="GooseneckTrailerTwoVehicles">Gooseneck trailer for two vehicles</option>
                                    <option value="EnclosedTrailerTwoVehicles">Enclosed trailer for two vehicles</option>
                                    <option value="a1CarGooseneckTrailer">1 Car Gooseneck Trailer</option>
                                    <option value="A3CarEnclosedGooseneckTrailer">3 Car Enclosed Gooseneck Trailer</option>
                                    <option value="Bumperpook24_34ftFlatbed">Bumperpook 24_34ft Flatbed</option>
                                    <option value="Bumperpool1CarEnclosedTrailer">Bumperpool 1 Car Enclosed Trailer</option>
                                    <option value="Bumperpool2CarEnclosedTraile">Bumperpool 2 Car Enclosed Traile</option>
                                    <option value="Bumperpool16_20FtFlatbed">Bumperpool 16_20Ft Flatbed</option>
                                    <option value="CarEnclosedTrailer">Car Enclosed Trailer</option>
                                    <option value="Gooseneck3CarLowTrailer">Gooseneck 3 Car Low Trailer</option>
                                    <option value="Gooseneck24-34FtFlatbed">Gooseneck 24_34 Ft Flatbed</option>
                                    <option value="Gooseneck3CarWedgeTrailer">Gooseneck 3 Car Wedge Trailer</option>
                                    <option value="Gooseneck5CarOpenTrailer">Gooseneck 5 Car Open Trailer</option>
                                    <option value="Gooseneck6CarOpenTrailer">Gooseneck 6 Car Open Trailer</option>
                                    <option value="BumperPool2CarTrailer">Bumper Pool 2 Car Trailer</option>*@
                                </select>
                            </label>
                            <label class="big-label" for="">
                                Year
                                <input type="text" class="height-input" name="Year">
                            </label>
                            <label class="big-label" for="">
                                Make
                                <input type="text" class="height-input" name="Make">
                            </label>
                            <label class="big-label" for="">
                                Model
                                <input type="text" class="height-input" name="Model">
                            </label>
                            <label class="big-label" for="">
                                How Long
                                <input type="text" class="height-input" name="HowLong">
                            </label>
                            <label class="big-label" for="">
                                Vin#
                                <input type="text" class="height-input" name="Vin">
                            </label>
                            <label class="big-label" for="">
                                Owner
                                <input type="text" class="height-input" name="Owner">
                            </label>
                            <label class="big-label" for="">
                                Color
                                <input type="text" class="height-input" name="Color">
                            </label>
                            <label class="big-label" for="">
                                Plate Trailer
                                <input type="text" class="height-input" name="Plate" required>
                            </label>
                            <label class="big-label" for="">
                                Plate Exp Trailer
                                <input type="text" class="height-input" name="Exp">
                            </label>
                            <label class="big-label" for="">
                                ANNUAL INS
                                <input type="text" class="height-input" name="AnnualIns">
                            </label>
                            <div class="full-label">
                                <p class="a-label">Document Trailer registration</p>
                                <a class="pt-1 pb-1">You can upload files only in pdf, jpg and jpeg</a>
                                <div>
                                    <div class="file-group big-label">
                                        <div class="row">
                                            <div class="col-md-8 label-input d-flex align-items-center">
                                                <div onclick="ClearFile(`fi1`, 'fl1');" class="fi" id="fl1"></div>
                                            </div>
                                            <div class="col-md-4">
                            
                                                <div class="select-button-1 d-flex justify-content-end">
                                                    <label>
                                                        Select document
                                                        <input class="height-input" id="fi1" type="file" onchange="GetFileName(this.value, 'fl1');" name="trailerRegistrationDoc" accept="application/pdf, image/jpeg, image/jpg" required>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="full-label">
                                <p class="a-label">Document Trailer annual inspection</p>
                                <a class="pt-1 pb-1">You can upload files only in pdf, jpg and jpeg</a>
                                <div>
                                    <div class="file-group big-label">
                                        <div class="row">
                                            <div class="col-md-8 label-input d-flex align-items-center">
                                                <div onclick="ClearFile(`fi2`, 'fl2');" class="fi" id="fl2"></div>
                                            </div>
                                            <div class="col-md-4">
                            
                                                <div class="select-button-1 d-flex justify-content-end">
                                                    <label>
                                                        Select document
                                                        <input class="height-input" id="fi2" type="file" onchange="GetFileName(this.value, 'fl2');" name="trailerAnnualInspectionDoc" accept="application/pdf, image/jpeg, image/jpg" required>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="full-label">
                                <p class="a-label">Document Lease agreement (optional)</p>
                                <a class="pt-1 pb-1">You can upload files only in pdf, jpg and jpeg</a>
                                <div>
                                    <div class="file-group big-label">
                                        <div class="row">
                                            <div class="col-md-8 label-input d-flex align-items-center">
                                                <div onclick="ClearFile(`fi3`, 'fl3');" class="fi" id="fl3"></div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="select-button-1 d-flex justify-content-end">
                                                    <label>
                                                        Select document
                                                        <input class="height-input" id="fi3" type="file" onchange="GetFileName(this.value, 'fl3');" name="leaseAgreementDoc" accept="application/pdf, image/jpeg, image/jpg">
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="height-input btn1 big-label big-font-size">Save Info</button>
                        </form>
                    </div>
                </div>
                <div class="col-md-6">
                    <div id="Bumperpool2CarEeclosedTraile" class="row" style="display:none;">
                        <div class="col-md-auto">
                            <img src="@ViewBag.BaseUrl/Equipment/Image?name=../TrailerPattern/Bumperpool2CarEeclosedTraile/Bumperpool2CarEeclosedTraile1.png&type=png" alt="">
                        </div>
                        <div class="col-md-auto">
                            <img src="@ViewBag.BaseUrl/Equipment/Image?name=../TrailerPattern/Bumperpool2CarEeclosedTraile/Bumperpool2CarEeclosedTraile2.png&type=png" alt="">
                        </div>
                        <div class="col-md-auto">
                            <img src="@ViewBag.BaseUrl/Equipment/Image?name=../TrailerPattern/Bumperpool2CarEeclosedTraile/Bumperpool2CarEeclosedTraile3.png&type=png" alt="">
                        </div>
                        <div class="col-md-auto">
                            <img src="@ViewBag.BaseUrl/Equipment/Image?name=../TrailerPattern/Bumperpool2CarEeclosedTraile/Bumperpool2CarEeclosedTraile4.png&type=png" alt="">
                        </div>
                        <div class="col-md-auto">
                            <img src="@ViewBag.BaseUrl/Equipment/Image?name=../TrailerPattern/Bumperpool2CarEeclosedTraile/Bumperpool2CarEeclosedTraile5.png&type=png" alt="">
                        </div>
                        <div class="col-md-auto">
                            <img src="@ViewBag.BaseUrl/Equipment/Image?name=../TrailerPattern/Bumperpool2CarEeclosedTraile/Bumperpool2CarEeclosedTraile6.png&type=png" alt="">
                        </div>
                        <div class="col-md-auto">
                            <img src="@ViewBag.BaseUrl/Equipment/Image?name=../TrailerPattern/Bumperpool2CarEeclosedTraile/Bumperpool2CarEeclosedTraile7.png&type=png" alt="">
                        </div>
                        <div class="col-md-auto">
                            <img src="@ViewBag.BaseUrl/Equipment/Image?name=../TrailerPattern/Bumperpool2CarEeclosedTraile/Bumperpool2CarEeclosedTraile8.png&type=png" alt="">
                        </div>
                        <div class="col-md-auto">
                            <img src="@ViewBag.BaseUrl/Equipment/Image?name=../TrailerPattern/Bumperpool2CarEeclosedTraile/Bumperpool2CarEeclosedTraile9.png&type=png" alt="">
                        </div>
                        <div class="col-md-auto">
                            <img src="@ViewBag.BaseUrl/Equipment/Image?name=../TrailerPattern/Bumperpool2CarEeclosedTraile/Bumperpool2CarEeclosedTraile10.png&type=png" alt="">
                        </div>
                        <div class="col-md-auto">
                            <img src="@ViewBag.BaseUrl/Equipment/Image?name=../TrailerPattern/Bumperpool2CarEeclosedTraile/Bumperpool2CarEeclosedTraile11.png&type=png" alt="">
                        </div>
                        <div class="col-md-auto">
                            <img src="@ViewBag.BaseUrl/Equipment/Image?name=../TrailerPattern/Bumperpool2CarEeclosedTraile/Bumperpool2CarEeclosedTraile12.png&type=png" alt="">
                        </div>
                        <div class="col-md-auto">
                            <img src="@ViewBag.BaseUrl/Equipment/Image?name=../TrailerPattern/Bumperpool2CarEeclosedTraile/Bumperpool2CarEeclosedTraile13.png&type=png" alt="">
                        </div>
                        <div class="col-md-auto">
                            <img src="@ViewBag.BaseUrl/Equipment/Image?name=../TrailerPattern/Bumperpool2CarEeclosedTraile/Bumperpool2CarEeclosedTraile14.png&type=png" alt="">
                        </div>
                        <div class="col-md-auto">
                            <img src="@ViewBag.BaseUrl/Equipment/Image?name=../TrailerPattern/Bumperpool2CarEeclosedTraile/Bumperpool2CarEeclosedTraile15.png&type=png" alt="">
                        </div>
                        <div class="col-md-auto">
                            <img src="@ViewBag.BaseUrl/Equipment/Image?name=../TrailerPattern/Bumperpool2CarEeclosedTraile/Bumperpool2CarEeclosedTraile16.png&type=png" alt="">
                        </div>
                        <div class="col-md-auto">
                            <img src="@ViewBag.BaseUrl/Equipment/Image?name=../TrailerPattern/Bumperpool2CarEeclosedTraile/Bumperpool2CarEeclosedTraile17.png&type=png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script>
    var curentSelectPattern;

    function SelectTrailer(value) {
        if (curentSelectPattern || value == "") {
            curentSelectPattern.style.display = "none";
        }
        let selectTypeDiv = document.getElementById(value);
        if (selectTypeDiv) {
            selectTypeDiv.style.display = "flex";
            curentSelectPattern = selectTypeDiv;
        }
    }
</script>