@model WebDispacher.ViewModels.Trailer.TrailerViewModel

@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Edit Trailer";
}

<body>
    <div class="admin truc">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="tabContent">
                        <h2>@Localizer["EditTrailer"]</h2>
                        <form action="" method="post" enctype="multipart/form-data">
                            <input type="text" name="Id" required value="@Model.Id" style="display:none;" />
                            <label class="big-label" for="">
                                @Localizer["NameTrailer"]
                                <input type="text" class="height-input" name="Name" required value="@Model.Name" maxlength="25" />
                            </label>
                            <label class="big-label" for="">
                                @Localizer["Year"]
                                <input class="height-input" type="text" name="Year" value="@Model.Year" maxlength="4" />
                            </label>
                            <label class="big-label" for="">
                                @Localizer["Make"]
                                <input class="height-input" type="text" name="Make" value="@Model.Make" maxlength="15" />
                            </label>
                            <label class="big-label" for="">
                                @Localizer["Model"]
                                <input class="height-input" type="text" name="model" maxlength="20">
                            </label>
                            <label class="big-label" for="">
                                @Localizer["TypeTrailer"] <br />
                                <select class="height-input input-select" name="Type" onchange="SelectTrailer(this.options[this.selectedIndex].value)" required>
                                    <option value="@Model.Type">@Model.Type</option>
                                    <option value="Bumperpool2CarEeclosedTraile">Bumper pool 2 Car Enclosed Trailer</option>
                                    @*<option value="GooseneckTrailerTwoVehicles">Gooseneck trailer for two vehicles</option>
            <option value="EnclosedTrailerTwoVehicles">Enclosed trailer for two vehicles</option>
            <option value="a1CarGooseneckTrailer">1 Car Gooseneck Trailer</option>
            <option value="A3CarEnclosedGooseneckTrailer">3 Car Enclosed Gooseneck Trailer</option>
            <option value="Bumperpook24_34ftFlatbed">Bumperpook 24_34ft Flatbed</option>
            <option value="Bumperpool1CarEnclosedTrailer">Bumperpool 1 Car Enclosed Trailer</option>
            <option value="Bumperpool2CarEnclosedTraile">Bumperpool 2 Car Enclosed Traile</option>
            <option value="Bumperpool16_20FtFlatbed">Bumperpool 16_20Ft Flatbed</option>
            <option value="CarEnclosedTrailer">Car Enclosed Trailer</option>
            <option value="Gooseneck3CarLowTrailer">Gooseneck 3 Car Low Trailer</option>
            <option value="Gooseneck24-34FtFlatbed">Gooseneck 24_34 Ft Flatbed</option>
            <option value="Gooseneck3CarWedgeTrailer">Gooseneck 3 Car Wedge Trailer</option>
            <option value="Gooseneck5CarOpenTrailer">Gooseneck 5 Car Open Trailer</option>
            <option value="Gooseneck6CarOpenTrailer">Gooseneck 6 Car Open Trailer</option>
            <option value="BumperPool2CarTrailer">Bumper Pool 2 Car Trailer</option>*@
                                </select>
                            </label>
                            <label class="big-label" for="">
                                @Localizer["HowLong"]
                                <input class="height-input" type="text" name="HowLong" value="@Model.HowLong" maxlength="5" />
                            </label>
                            <label class="big-label" for="">
                                @Localizer["Vin"]#
                                <input class="height-input" type="text" name="Vin" value="@Model.Vin" maxlength="17"/>
                            </label>
                            <label class="big-label" for="">
                                @Localizer["PlateTrailer"]
                                <input class="height-input" type="text" name="Plate" required value="@Model.Plate" maxlength="10"/>
                            </label>
                            <label class="big-label" for="">
                                @Localizer["PlateTrailerExp"]
                                <input class="height-input" type="text" name="Exp" id="plateExp" value="@Model.Exp" />
                            </label>
                            <label class="big-label" for="">
                                @Localizer["Color"]
                                <input class="height-input" type="text" name="Color" value="@Model.Color" maxlength="15" />
                            </label>
                            <label class="big-label" for="">
                                @Localizer["AnnualIns"]
                                <input class="height-input" type="text" name="AnnualIns" value="@Model.AnnualIns" maxlength="12" />
                            </label>
                            <label class="big-label" for="">
                                @Localizer["Owner"]
                                @* @Html.TextBoxFor(x => x.Owner, new { value="@Model.Owner"}) *@
                                <input class="height-input" type="text" name="Owner" value="@Model.Owner" maxlength="25" />
                            </label>
                            <button class="height-input btn1 big-label big-font-size">@Localizer["SaveInfo"]</button>
                        </form>
                    </div>
                </div>
                <div class="col-md-6">
                    <div id="Bumperpool2CarEeclosedTraile" class="row" style="display:none;">
                        <div class="col-md-auto">
                            <img src="@ViewBag.BaseUrl/Equipment/Image?name=../TrailerPattern/Bumperpool2CarEeclosedTraile/Bumperpool2CarEeclosedTraile1.png&type=png" alt="">
                        </div>
                        <div class="col-md-auto">
                            <img src="@ViewBag.BaseUrl/Equipment/Image?name=../TrailerPattern/Bumperpool2CarEeclosedTraile/Bumperpool2CarEeclosedTraile2.png&type=png" alt="">
                        </div>
                        <div class="col-md-auto">
                            <img src="@ViewBag.BaseUrl/Equipment/Image?name=../TrailerPattern/Bumperpool2CarEeclosedTraile/Bumperpool2CarEeclosedTraile3.png&type=png" alt="">
                        </div>
                        <div class="col-md-auto">
                            <img src="@ViewBag.BaseUrl/Equipment/Image?name=../TrailerPattern/Bumperpool2CarEeclosedTraile/Bumperpool2CarEeclosedTraile4.png&type=png" alt="">
                        </div>
                        <div class="col-md-auto">
                            <img src="@ViewBag.BaseUrl/Equipment/Image?name=../TrailerPattern/Bumperpool2CarEeclosedTraile/Bumperpool2CarEeclosedTraile5.png&type=png" alt="">
                        </div>
                        <div class="col-md-auto">
                            <img src="@ViewBag.BaseUrl/Equipment/Image?name=../TrailerPattern/Bumperpool2CarEeclosedTraile/Bumperpool2CarEeclosedTraile6.png&type=png" alt="">
                        </div>
                        <div class="col-md-auto">
                            <img src="@ViewBag.BaseUrl/Equipment/Image?name=../TrailerPattern/Bumperpool2CarEeclosedTraile/Bumperpool2CarEeclosedTraile7.png&type=png" alt="">
                        </div>
                        <div class="col-md-auto">
                            <img src="@ViewBag.BaseUrl/Equipment/Image?name=../TrailerPattern/Bumperpool2CarEeclosedTraile/Bumperpool2CarEeclosedTraile8.png&type=png" alt="">
                        </div>
                        <div class="col-md-auto">
                            <img src="@ViewBag.BaseUrl/Equipment/Image?name=../TrailerPattern/Bumperpool2CarEeclosedTraile/Bumperpool2CarEeclosedTraile9.png&type=png" alt="">
                        </div>
                        <div class="col-md-auto">
                            <img src="@ViewBag.BaseUrl/Equipment/Image?name=../TrailerPattern/Bumperpool2CarEeclosedTraile/Bumperpool2CarEeclosedTraile10.png&type=png" alt="">
                        </div>
                        <div class="col-md-auto">
                            <img src="@ViewBag.BaseUrl/Equipment/Image?name=../TrailerPattern/Bumperpool2CarEeclosedTraile/Bumperpool2CarEeclosedTraile11.png&type=png" alt="">
                        </div>
                        <div class="col-md-auto">
                            <img src="@ViewBag.BaseUrl/Equipment/Image?name=../TrailerPattern/Bumperpool2CarEeclosedTraile/Bumperpool2CarEeclosedTraile12.png&type=png" alt="">
                        </div>
                        <div class="col-md-auto">
                            <img src="@ViewBag.BaseUrl/Equipment/Image?name=../TrailerPattern/Bumperpool2CarEeclosedTraile/Bumperpool2CarEeclosedTraile13.png&type=png" alt="">
                        </div>
                        <div class="col-md-auto">
                            <img src="@ViewBag.BaseUrl/Equipment/Image?name=../TrailerPattern/Bumperpool2CarEeclosedTraile/Bumperpool2CarEeclosedTraile14.png&type=png" alt="">
                        </div>
                        <div class="col-md-auto">
                            <img src="@ViewBag.BaseUrl/Equipment/Image?name=../TrailerPattern/Bumperpool2CarEeclosedTraile/Bumperpool2CarEeclosedTraile15.png&type=png" alt="">
                        </div>
                        <div class="col-md-auto">
                            <img src="@ViewBag.BaseUrl/Equipment/Image?name=../TrailerPattern/Bumperpool2CarEeclosedTraile/Bumperpool2CarEeclosedTraile16.png&type=png" alt="">
                        </div>
                        <div class="col-md-auto">
                            <img src="@ViewBag.BaseUrl/Equipment/Image?name=../TrailerPattern/Bumperpool2CarEeclosedTraile/Bumperpool2CarEeclosedTraile17.png&type=png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script>
    $(function () {
        $("#plateExp").mask("99/99", { placeholder: "MM/YY" });
    });
    var curentSelectPattern;

    function SelectTrailer(value) {
        if (curentSelectPattern || value == "") {
            curentSelectPattern.style.display = "none";
        }
        let selectTypeDiv = document.getElementById(value);
        if (selectTypeDiv) {
            selectTypeDiv.style.display = "flex";
            curentSelectPattern = selectTypeDiv;
        }
    }
</script>