@model WebDispacher.ViewModels.Trailer.TrailerViewModel

@using Microsoft.AspNetCore.Mvc.Localization
@using WebDispacher.Constants;

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Edit Trailer";
}

<body>
    <div class="admin truc">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="tabContent">
                        <h2>@Localizer["EditTrailer"]</h2>
                        <form onsubmit="formatBeforeSubmit();" action="" method="post" enctype="multipart/form-data">
                            <input type="text" name="Id" required value="@Model.Id" style="display:none;" />
                            @Html.ValidationSummary()
                            <label class="big-label" for="">
                                @Localizer["NameTrailer"]
                                <input type="text" class="height-input" id="name" asp-for="Name" required value="@Model.Name" maxlength="25" />
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </label>
                            <label class="big-label" for="">
                                @Localizer["Year"]
                                @{
                                    string yearString = Convert.ToInt32(Model.Year) != 0
                                    ? Model.Year
                                    : string.Empty;
                                }
                                <input class="height-input" type="text" id="year" asp-for="Year" value="@yearString" maxlength="4" />
                                @Html.ValidationMessageFor(model => model.Year, "", new { @class = "text-danger" })
                            </label>
                            <label class="big-label" for="">
                                @Localizer["Make"]
                                <input class="height-input" type="text" id="make" asp-for="Make" value="@Model.Make" maxlength="15" />
                                @Html.ValidationMessageFor(model => model.Make, "", new { @class = "text-danger" })
                            </label>
                            <label class="big-label" for="">
                                @Localizer["Model"]
                                <input class="height-input" type="text" id="model" asp-for="Model" value="@Model.Model" maxlength="20">
                                @Html.ValidationMessageFor(model => model.Model, "", new { @class = "text-danger" })
                            </label>
                            <label class="big-label" for="">
                                @Localizer["TypeTrailer"] <br />
                                <select class="height-input input-select" asp-for="Type" onchange="SelectTrailer(this.options[this.selectedIndex].value)" required>
                                    <option value="@Model.Type">@Model.Type</option>
                                    <option value="Bumperpool2CarEeclosedTraile">Bumper pool 2 Car Enclosed Trailer</option>
                                    @*<option value="GooseneckTrailerTwoVehicles">Gooseneck trailer for two vehicles</option>
            <option value="EnclosedTrailerTwoVehicles">Enclosed trailer for two vehicles</option>
            <option value="a1CarGooseneckTrailer">1 Car Gooseneck Trailer</option>
            <option value="A3CarEnclosedGooseneckTrailer">3 Car Enclosed Gooseneck Trailer</option>
            <option value="Bumperpook24_34ftFlatbed">Bumperpook 24_34ft Flatbed</option>
            <option value="Bumperpool1CarEnclosedTrailer">Bumperpool 1 Car Enclosed Trailer</option>
            <option value="Bumperpool2CarEnclosedTraile">Bumperpool 2 Car Enclosed Traile</option>
            <option value="Bumperpool16_20FtFlatbed">Bumperpool 16_20Ft Flatbed</option>
            <option value="CarEnclosedTrailer">Car Enclosed Trailer</option>
            <option value="Gooseneck3CarLowTrailer">Gooseneck 3 Car Low Trailer</option>
            <option value="Gooseneck24-34FtFlatbed">Gooseneck 24_34 Ft Flatbed</option>
            <option value="Gooseneck3CarWedgeTrailer">Gooseneck 3 Car Wedge Trailer</option>
            <option value="Gooseneck5CarOpenTrailer">Gooseneck 5 Car Open Trailer</option>
            <option value="Gooseneck6CarOpenTrailer">Gooseneck 6 Car Open Trailer</option>
            <option value="BumperPool2CarTrailer">Bumper Pool 2 Car Trailer</option>*@
                                </select>
                                @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
                            </label>
                            <label class="big-label" for="">
                                @Localizer["HowLong"]
                                <input class="height-input" type="text" asp-for="HowLong" value="@Model.HowLong" maxlength="5" />
                                @Html.ValidationMessageFor(model => model.HowLong, "", new { @class = "text-danger" })
                            </label>
                            <label class="big-label" for="">
                                @Localizer["Vin"]#
                                <input class="height-input" type="text" asp-for="Vin" value="@Model.Vin" maxlength="17"/>
                                @Html.ValidationMessageFor(model => model.Vin, "", new { @class = "text-danger" })
                            </label>
                            <label class="big-label" for="">
                                @Localizer["PlateTrailer"]
                                <input class="height-input" type="text" asp-for="Plate" required value="@Model.Plate" maxlength="10"/>
                                @Html.ValidationMessageFor(model => model.Plate, "", new { @class = "text-danger" })
                            </label>
                            <label class="big-label" for="">
                                @Localizer["PlateTrailerExp"]
                                @{
                                    string plateExpiresString = Model.Exp.HasValue
                                    ? Model.Exp.Value.ToString("MM/yy")
                                    : string.Empty;
                                }
                                <input class="height-input" type="text" asp-for="Exp" id="plateExp" value="@plateExpiresString" />
                                @Html.ValidationMessageFor(model => model.Exp, "", new { @class = "text-danger" })
                            </label>
                            <label class="big-label" for="">
                                @Localizer["Color"]
                                <input class="height-input" type="text" id="color" asp-for="Color" value="@Model.Color" maxlength="15" />
                                @Html.ValidationMessageFor(model => model.Color, "", new { @class = "text-danger" })
                            </label>
                            <label class="big-label" for="">
                                @Localizer["AnnualIns"]
                                <input class="height-input" type="text" asp-for="AnnualIns" value="@Model.AnnualIns" maxlength="12" />
                                @Html.ValidationMessageFor(model => model.AnnualIns, "", new { @class = "text-danger" })
                            </label>
                            <label class="big-label" for="">
                                @Localizer["Owner"]
                                @* @Html.TextBoxFor(x => x.Owner, new { value="@Model.Owner"}) *@
                                <input class="height-input" type="text" id="owner" asp-for="Owner" value="@Model.Owner" maxlength="25" />
                                @Html.ValidationMessageFor(model => model.Owner, "", new { @class = "text-danger" })
                            </label>
                            <input type="hidden" value="" name="localDate" />
                            <button class="height-input btn1 big-label big-font-size">@Localizer["SaveInfo"]</button>
                        </form>
                    </div>
                </div>
                <div class="col-md-6">
                    <div id="Bumperpool2CarEeclosedTraile" class="row" style="display:none;">
                        <div class="col-md-auto">
                            <img src="@ViewBag.BaseUrl/Equipment/Image?name=../TrailerPattern/Bumperpool2CarEeclosedTraile/Bumperpool2CarEeclosedTraile1.png&type=png" alt="">
                        </div>
                        <div class="col-md-auto">
                            <img src="@ViewBag.BaseUrl/Equipment/Image?name=../TrailerPattern/Bumperpool2CarEeclosedTraile/Bumperpool2CarEeclosedTraile2.png&type=png" alt="">
                        </div>
                        <div class="col-md-auto">
                            <img src="@ViewBag.BaseUrl/Equipment/Image?name=../TrailerPattern/Bumperpool2CarEeclosedTraile/Bumperpool2CarEeclosedTraile3.png&type=png" alt="">
                        </div>
                        <div class="col-md-auto">
                            <img src="@ViewBag.BaseUrl/Equipment/Image?name=../TrailerPattern/Bumperpool2CarEeclosedTraile/Bumperpool2CarEeclosedTraile4.png&type=png" alt="">
                        </div>
                        <div class="col-md-auto">
                            <img src="@ViewBag.BaseUrl/Equipment/Image?name=../TrailerPattern/Bumperpool2CarEeclosedTraile/Bumperpool2CarEeclosedTraile5.png&type=png" alt="">
                        </div>
                        <div class="col-md-auto">
                            <img src="@ViewBag.BaseUrl/Equipment/Image?name=../TrailerPattern/Bumperpool2CarEeclosedTraile/Bumperpool2CarEeclosedTraile6.png&type=png" alt="">
                        </div>
                        <div class="col-md-auto">
                            <img src="@ViewBag.BaseUrl/Equipment/Image?name=../TrailerPattern/Bumperpool2CarEeclosedTraile/Bumperpool2CarEeclosedTraile7.png&type=png" alt="">
                        </div>
                        <div class="col-md-auto">
                            <img src="@ViewBag.BaseUrl/Equipment/Image?name=../TrailerPattern/Bumperpool2CarEeclosedTraile/Bumperpool2CarEeclosedTraile8.png&type=png" alt="">
                        </div>
                        <div class="col-md-auto">
                            <img src="@ViewBag.BaseUrl/Equipment/Image?name=../TrailerPattern/Bumperpool2CarEeclosedTraile/Bumperpool2CarEeclosedTraile9.png&type=png" alt="">
                        </div>
                        <div class="col-md-auto">
                            <img src="@ViewBag.BaseUrl/Equipment/Image?name=../TrailerPattern/Bumperpool2CarEeclosedTraile/Bumperpool2CarEeclosedTraile10.png&type=png" alt="">
                        </div>
                        <div class="col-md-auto">
                            <img src="@ViewBag.BaseUrl/Equipment/Image?name=../TrailerPattern/Bumperpool2CarEeclosedTraile/Bumperpool2CarEeclosedTraile11.png&type=png" alt="">
                        </div>
                        <div class="col-md-auto">
                            <img src="@ViewBag.BaseUrl/Equipment/Image?name=../TrailerPattern/Bumperpool2CarEeclosedTraile/Bumperpool2CarEeclosedTraile12.png&type=png" alt="">
                        </div>
                        <div class="col-md-auto">
                            <img src="@ViewBag.BaseUrl/Equipment/Image?name=../TrailerPattern/Bumperpool2CarEeclosedTraile/Bumperpool2CarEeclosedTraile13.png&type=png" alt="">
                        </div>
                        <div class="col-md-auto">
                            <img src="@ViewBag.BaseUrl/Equipment/Image?name=../TrailerPattern/Bumperpool2CarEeclosedTraile/Bumperpool2CarEeclosedTraile14.png&type=png" alt="">
                        </div>
                        <div class="col-md-auto">
                            <img src="@ViewBag.BaseUrl/Equipment/Image?name=../TrailerPattern/Bumperpool2CarEeclosedTraile/Bumperpool2CarEeclosedTraile15.png&type=png" alt="">
                        </div>
                        <div class="col-md-auto">
                            <img src="@ViewBag.BaseUrl/Equipment/Image?name=../TrailerPattern/Bumperpool2CarEeclosedTraile/Bumperpool2CarEeclosedTraile16.png&type=png" alt="">
                        </div>
                        <div class="col-md-auto">
                            <img src="@ViewBag.BaseUrl/Equipment/Image?name=../TrailerPattern/Bumperpool2CarEeclosedTraile/Bumperpool2CarEeclosedTraile17.png&type=png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    function formatBeforeSubmit() {
        const input = document.getElementById('plateExp');
        const parts = input.value.split('/');
        if (parts.length === 2) {
            input.value = '01.' + parts[0] + '.20' + parts[1];
        }
    }
</script>
<script src="~/js/input-replacer.js"></script>
<script>
    setReplacer(document.querySelector('#year'), @ExpressionConstants.OnlyDigits);
    setReplacer(document.querySelector('#name'), @ExpressionConstants.OnlyLetters);
    setReplacer(document.querySelector('#make'), @ExpressionConstants.OnlyLetters);
    setReplacer(document.querySelector('#model'), @ExpressionConstants.OnlyLetters);
    setReplacer(document.querySelector('#color'), @ExpressionConstants.OnlyLetters);
    setReplacer(document.querySelector('#owner'), @ExpressionConstants.OnlyLetters);

    const dateInput = document.querySelector("[name='localDate']");

    $(function () {
        $("#plateExp").mask("99/99", { placeholder: "MM/YY" });
    });
    var curentSelectPattern;

    $(".big-font-size").on('click', function () {
        dateInput.value = GetDateTimeInFormat(new Date());
    });

    function SelectTrailer(value) {
        if (curentSelectPattern || value == "") {
            curentSelectPattern.style.display = "none";
        }
        let selectTypeDiv = document.getElementById(value);
        if (selectTypeDiv) {
            selectTypeDiv.style.display = "flex";
            curentSelectPattern = selectTypeDiv;
        }
    }
</script>