@using Microsoft.AspNetCore.Mvc.Localization
@using WebDispacher.Constants;

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Create Sell Lot | Marketplace";
}

<link rel="stylesheet" href="~/libs/jquery/lightgallery.css">
<body>
    <div class="admin">
        <div class="container">
            <div class="row">
                <div class="col-md-12"
                    style="
                       margin-top: 30px;">
                    <div class="nav-forum-marketplace">
                        <div class="nav-forum-item">
                            <a href="/Marketplace/Classifieds/CategorySell">
                                Back
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="tabContent">
                        <h2>@Localizer["SellItemLot"]</h2>
                        <form action="" method="post">
                            <div class="validation" asp-validation-summary="ModelOnly"></div>
                            <label for="">
                                <label class="mb-0">Title</label>
                                <input type="text" id="name" name="Title" required>
                            </label>
                            <label for="">
                                <label class="mb-0">Price</label>
                                <input type="number" id="price" onchange="(function(el){el.value=parseFloat(el.value).toFixed(2);})(this)" step="0.01" name="Price" required>
                            </label>
                            <label for="">
                                <label class="mb-0">Condition</label>
                                <select class="height-input input-select" name="Condition" id="conditionId">
                                    <option value="New">New</option>
                                    <option value="LikeNew">Used - Like New</option>
                                    <option value="Good">Used - Good</option>
                                    <option value="Fair">Used - Fair</option>
                                </select>
                            </label>
                            <label for="">
                                <label class="mb-0">Description</label>
                                <textarea type="text" name="Description" id="description"></textarea>
                            </label>
                            <label for="">
                                <label class="mb-0">Email</label>
                                <input type="email" id="email" name="Email" pattern="@PatternConstants.Email" required>
                            </label>
                            <label for="">
                                
                                <label class="mb-0">Phone Number</label>
                                    <input type="text" id="phoneC" pattern="@PatternConstants.PhoneNumberWithoutCountryCode" placeholder="(XXX)-XXX-XXXX" required>
                                    <input type="hidden" id="country-code-dialcode" name="DialCode">
                                <input type="hidden" id="country-code-iso2" name="Iso2">
                                <input type="hidden" id="country-code-name" name="Name">
                            </label>
                            <label for="">
                                <label class="mb-0">Zip Code</label>
                                <input type="text" name="zipcode" id="zipcode"/>
                            </label>
                            <input type="hidden" value="" name="localDate" />
                            <input class="btn1" type="button" value="@Localizer["Publish"]" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="~/js/input-replacer.js"></script>
<script type="text/javascript">
    $('#price').on('input invalid', function () {
        this.setCustomValidity('')
        if (this.validity.valueMissing) {
            this.setCustomValidity("@Localizer["PriceValidMessage"]")
        }
        if (this.validity.typeMismatch) {
            this.setCustomValidity("@Localizer["PriceValidMessage"]")
        }
        if (this.validity.patternMismatch) {
            this.setCustomValidity("@Localizer["PriceValidMessage"]")
        }
    })

    $.fn.setCursorPosition = function (pos) {
        if ($(this).get(0).setSelectionRange) {
            $(this).get(0).setSelectionRange(pos, pos);
        }
        else if ($(this).get(0).createTextRange) {
            var range = $(this).get(0).createTextRange();
            range.collapse(true);
            range.moveEnd('character', pos);
            range.moveStart('character', pos);
            range.select();
        }
    };

    $('input[name="zipcode"]').on('click', function () {
        $(this).setCursorPosition(0);
    });

    $("#zipcode").mask("99999", { placeholder: "XXXXX" });

    $(document).ready(function () {
        $("#phoneC").mask("(999)-999-9999", { placeholder: "(XXX)-XXX-XXXX" });

        if (!$("#country-code-iso2").val()) {
            $("#country-code-iso2").val("us")
            $("#country-code-dialcode").val("1")
            $("#country-code-name").val("United States")
        }

        var phone = $("#phoneC");
        phone.intlTelInput({
            initialCountry: $("#country-code-iso2").val() ? $("#country-code-iso2").val() : "us",
            separateDialCode: true,
        });

        phone.on("countrychange", function (e, countryData) {
            $("#country-code-dialcode").val(countryData.dialCode);
            $("#country-code-iso2").val(countryData.iso2);
            $("#country-code-name").val(countryData.name);
        });
    });
</script>
<style>
    .tabContent {
        margin-top: 20px;
    }

    .tabContent form {
        margin-top: 30px;
    }

    .nav-forum-marketplace {
        display: flex;
    }

    .nav-forum-item {
        margin-right: 10px;
    }

    .nav-forum-item a {
        margin-right: 10px;
    }

    .btn3 {
        width: 250px;
        padding: 12px 24px;
        font-size: 16px;
    }
    
    .btn2 {
        width: 250px;
        padding: 12px 24px;
        font-size: 16px;
    }

    .intl-tel-input {
        width: 100%;
    }


    .nav-forum-marketplace {
        display: flex;
    }

    .nav-forum-item {
        margin-right: 10px;
    }

    .nav-forum-item a {
        margin-right: 10px;
    }

    .other-img {
        justify-content: center;
        padding: 18px;
        display: grid;
        grid-template-columns: repeat(5, 120px);
        gap: 8px;
    }

    .other-img .img-one {
        max-width: 100%;
        height: auto;
        border: 1px black solid;
    }

    .control-panel {
        display: flex;
        flex-direction: column;
    }

</style>

<script src="~/libs//jquery/dist/lightgallery-all.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#lightgallery').lightGallery({

        });
    });
</script>
<script src="~/js/input-replacer.js"></script>
