@using DaoModels.DAO.Enum;
@using Microsoft.AspNetCore.Mvc.Localization;
@using WebDispacher.ViewModels.Marketplace;

@{
    ViewData["Title"] = $"Your Ads | Marketplace";
}

@inject IViewLocalizer Localizer

@model UserMarketPostShortVmList

<link rel="stylesheet" href="~/css/Marketplace/Marketplace.css">

<body>
<div class="admin">
    <div class="container">
        <div class="row">
            <div class="col-md-12"
                 style="
                       margin-top: 50px;">
                <div class="nav-forum-marketplace">
                    <div class="nav-forum-item">
                        <a href="/Marketplace/">
                            @Localizer["MarketplaceNavItem"]
                        </a>
                        <i class="bi bi-arrow-right"></i>
                    </div>
                    <div class="nav-forum-item">
                        <a href="/Marketplace/Classifieds">
                            @Localizer["ClassifiedsNavItem"]
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-12 header-nav-block">
                <div class="title">
                    <h1>@Localizer["ItemsHeader"]</h1>
                    <button class="btn1" data-toggle="modal" data-modal-selector="#SelectTypeNewAd" href="#SelectTypeNewAd">@Localizer["AddItemButton"]</button>
                </div>
                <div class="search-panel">
                    <a style="background-color: white;color:#686F7C;" data-toggle="collapse" href="#search-form" role="button" aria-expanded="false" aria-controls="search-form">
                        @Localizer["FiltersLabel"]
                        <span class="open-chevron">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                            </svg>
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-md-12">
                <div class="collapse multi-collapse" id="search-form" style="width: 100%;">
                    <div style="margin-top: 15px; background-color: #f1f1f1;border-radius:10px; padding: 1.25rem!important;" class="card border card-body">
                        <form method="get" id="filterForm" action="/Marketplace/Classifieds/myads">
                            <input type="hidden" asp-for="Filters.Page" value="@Model.Filters.Page" />
                            <input type="hidden" asp-for="Filters.SortType" value="@Model.Filters.SortType" />
                            <div class="filters-block">
                                <div class="row">
                                    <div class="col-md-6" style="padding: 10px;">
                                    </div>
                                    <div class="col-md-6" style="padding: 10px;">
                                        <div id="KeyWords" class="key-word-block filter-block">
                                            <label for="KeyWords">@Localizer["KeyWordsLabel"]</label>
                                            <input id="keyWordsFilterInput" class="type-button" asp-for="Filters.KeyWords" value="@Model.Filters.KeyWords" placeholder="@Localizer["SearchByKeywordPlaceholder"]">
                                        </div>
                                        <div id="conditionItems" class="filter-block">
                                            <label for="conditionItems">@Localizer["ConditionItemsLabel"]</label>
                                            <select class="height-input input-select" id="conditionItemsFilterInput" asp-for="Filters.ConditionItem" value="@Model.Filters.ConditionItem">
                                                <option value=@ConditionItem.NotSelected>@Localizer["NotSelectedConditionItemFilterLabel"]</option>
                                                <option value=@ConditionItem.New>@Localizer["NewConditionItemFilterLabel"]</option>
                                                <option value=@ConditionItem.LikeNew>@Localizer["LikeNewConditionItemFilterLabel"]</option>
                                                <option value=@ConditionItem.Good>@Localizer["GoodConditionItemFilterLabel"]</option>
                                                <option value=@ConditionItem.Fair>@Localizer["FairConditionItemFilterLabel"]</option>
                                            </select>
                                        </div>
                                            
                                        <div id="Price" class="filter-block">
                                            <label for="Price">@Localizer["PriceLabel"]</label>
                                            @{
                                                var firstPriceValue = Model.Filters.FirstPrice == 0.0 ? string.Empty : Model.Filters.FirstPrice.ToString();
                                                var lastPriceValue = Model.Filters.LastPrice == 0.0 ? string.Empty : Model.Filters.LastPrice.ToString();
                                            }
                                            <div class="block-price">
                                                <input id="firstPriceFilterInput" class="type-button short-button" asp-for="Filters.FirstPrice" value="@firstPriceValue" placeholder="@Localizer["SearchByStartPricePlaceholder"]">
                                                <input id="lastPriceFilterInput" class="type-button short-button" asp-for="Filters.LastPrice" value="@lastPriceValue" placeholder="@Localizer["SearchByEndPricePlaceholder"]">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="display: flex; justify-content: flex-end;">
                                <button type="submit" class="btn1 btn-modal mt-2">@Localizer["SearchButtonName"]</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="sort" id="sort-block">
                    <button data-sort-type="@SortType.Base"
                            class="@(Model.Filters.SortType == SortType.Base ? "active" : "")">
                        @Localizer["BaseSortTypeLabel"]
                    </button>
                    <button data-sort-type="@SortType.New"
                            class="@(Model.Filters.SortType == SortType.New ? "active" : "")">
                        @Localizer["NewSortTypeLabel"]
                    </button>
                    <button data-sort-type="@SortType.MinViews"
                            class="@(Model.Filters.SortType == SortType.MinViews ? "active" : "")">
                        @Localizer["MinViewsSortTypeLabel"]
                    </button>
                    <button data-sort-type="@SortType.MaxViews"
                            class="@(Model.Filters.SortType == SortType.MaxViews ? "active" : "")">
                        @Localizer["MaxViewsSortTypeLabel"]
                    </button>
                    <button data-sort-type="@SortType.MinPrice"
                            class="@(Model.Filters.SortType == SortType.MinPrice ? "active" : "")">
                        @Localizer["MinPriceSortTypeLabel"]
                    </button>
                    <button data-sort-type="@SortType.MaxPrice"
                            class="@(Model.Filters.SortType == SortType.MaxPrice ? "active" : "")">
                        @Localizer["MaxPriceSortTypeLabel"]
                    </button>
                    <button data-sort-type="@SortType.LastUpdate"
                            class="@(Model.Filters.SortType == SortType.LastUpdate ? "active" : "")">
                        @Localizer["LastUpdateSortTypeLabel"]
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="tabs">
                    <div class="tabContent">
                        @foreach (var item in Model.Items)
                        {
                            @await Html.PartialAsync("~/Views/PartView/Marketplace/ForumItem.cshtml", item)
                        }
                        <pagination-list actual-pages="functions.GetPages(Model.Filters.Page, Model.Filters.CountPages)" selected-page="Model.Filters.Page" />

                        @if (Model.Items.Count == 0)
                        {
                            <div class="block-empty">
                                <i class="bi bi-emoji-frown-fill" style="font-size: 28px;"></i>
                                <h2>
                                    @Localizer["NotFoundAdsLabel"]
                                </h2>
                            </div>

                        }
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
@await Html.PartialAsync("~/Views/PartView/Modals/SelectNewTypeAd.cshtml", new ViewDataDictionary(ViewData) { {"ModalId", "SelectTypeNewAd"}, })
</body>

<script>
    const sortButtons = document.querySelectorAll('button[data-sort-type]');

    sortButtons.forEach(button => {
        button.addEventListener('click', () => {
            if (!button.classList.contains('active')) {
                document.querySelector('#filterForm input[name="Filters.SortType"]').value = button.getAttribute('data-sort-type');

                document.getElementById('filterForm').submit();
            }
        });
    });

    $(document).ready(function () {
        const keyWordsFilter = document.getElementById('keyWordsFilterInput');
        const conditionItem = document.getElementById('conditionItemsFilterInput');
        const firstPrice = document.getElementById('firstPriceFilterInput');
        const lastPrice = document.getElementById('lastPriceFilterInput');

        if (isOnlyMyPosts.checked
            || keyWordsFilter.value !== ""
            || conditionItem.value !== "NotSelected"
            || firstPrice.value !== ""
            || lastPrice.value !== "") {
            $("#search-form").addClass('show')
        }

    });
</script>


<style>
.filter-block .input-select {
    padding-left: 6px;
}
</style>