@using Microsoft.AspNetCore.Mvc.Localization

@model WebDispacher.ViewModels.RA.Carrier.Registration.FewMoreDetailsViewModel

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Carrier Registration";
}
<link href="~/css/Auth/login.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>
    <div class="register-page">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 pl-4">
                    <div class="left-text">
                        <h1>@Localizer["BlockHeader"]</h1>
                        <p>@Localizer["BodyFirstPart"]</p>
                        <p>@Localizer["BodySecondPart"]</p>
                        <div class="info">
                            @* <a href=""><img src="img/message-circle.svg" alt=""> Support Chat</a> *@
                            <a href="tel:+1 (773) 420 4444"><img src="img/phone-call.svg" alt=""> +1 (773) 420-4444</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 pl-4">
                    <div class="right-form">
                        <form action="" method="post">
                            @Html.HiddenFor(x => x.PersonalData.Email)
                            @Html.HiddenFor(x => x.PersonalData.FirstName)
                            @Html.HiddenFor(x => x.PersonalData.LastName)
                            @Html.HiddenFor(x => x.PersonalData.CompanyName)
                            @Html.HiddenFor(x => x.PersonalData.USDOTNumber)
                            @Html.HiddenFor(x => x.PersonalData.Password)
                            @Html.HiddenFor(x => x.PersonalData.Number)
                            @Html.HiddenFor(x => x.PersonalData.DialCode)
                            @Html.HiddenFor(x => x.PersonalData.Iso2)
                            @Html.HiddenFor(x => x.PersonalData.Name)
                            <div class="validation" asp-validation-summary="ModelOnly"></div>
                            <h3>@Localizer["Step2of3"]</h3>
                            <ul class="steps">
                                <li class="active"></li>
                                <li class="active"></li>
                                <li></li>
                            </ul>
                            <div class="step">
                                <label for="">
                                    @Html.DisplayNameFor(x => x.Type)
                                    @Html.ValidationMessageFor(model => model.SelectedType, "", new {@class = "text-danger"})
                                    @foreach (var item in Model.Type)
                                        {
                                            <div class="mt-2 value-elem">
                                                <input style="height: 13px; width: 16px;" asp-for="SelectedType" type="radio" value="@item.Id" />
                                            <span style="text-align: center">@item.TypeName</span>
                                            </div>
                                        }
                                </label>
                                <label for="">
                                    @Html.DisplayNameFor(x => x.Units)
                                    <div class="mt-2">
                                        <input asp-for="Units" min="1" value="@Model.Units" value="1" required>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.Units, "", new {@class = "text-danger"})
                                </label>
                                <label for="">
                                    @Html.DisplayNameFor(x => x.HowYouFindUs) <span>(@Localizer["Optional"])</span>
                                    <div class="mt-2">
                                        <input type="text" asp-for="HowYouFindUs" value="@Model.HowYouFindUs" placeholder="" >
                                    </div>
                                    @Html.ValidationMessageFor(model => model.HowYouFindUs, "", new {@class = "text-danger"})
                                </label>
                                <label for="">
                                    @Html.DisplayNameFor(x => x.Promo)
                                    <div class="mt-2" style="display:flex;justify-content:space-between">
                                        <input type="text" asp-for="Promo" style="width:80%;padding-bottom:3px;" value="@Model.Promo" placeholder="">
                                        <button type="button" id="promo-button" class="btn1 btn1-promo-apply" style="width: 18%"><i class="fa fa-spinner fa-spin" style="display: none"></i> <span>Apply</span></button>
                                    </div>
                                    <span id="valid-promo"></span>
                                </label>
                                <input class="btn1-big" type="submit" value="@Localizer["Next"]"/>
                                <div class="term-message">
                                    <div class="terms">
                                        <p>
                                            @Localizer["FirstPartAgreements"] <a href="">@Localizer["SecondPartAgreements"]</a> @Localizer["And"] <a href="">@Localizer["ThirdPartAgreements"]</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

<script>
    $("#promo-button").on("click", function () {
        var code = $("#Promo").val();
        $(this).children(".fa").show();
        $(this).children("span").hide();
        var button = this;
        $.ajax({
            type: "post",
            url: `/RA/ActivePromo`,
            data: { "code": code},
            timeout: 3000,
            success: function (response) {
                if (response  == true){
                    $("#valid-promo").addClass('text-green');
                       $("#valid-promo").html("Promo success added");
                } else {
                    $("#valid-promo").addClass("text-danger");
                    $("#valid-promo").html("Promo code is not valid ");
                }
            },
            error: function (response) {
            },
            complete: function(){
                $(button).children(".fa").hide();
                $(button).children("span").show();
            },
        });
    });
</script>

<style>
    .term-message .terms p {
        color: gray !important;
    }
</style>