@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

<body>
    <div class="login-page-carrier">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-5">
                    <p style="color: red; text-align: center; font-size: 15px">
                        @ViewData["TextError"]
                    </p>
                    <form action="~/RA/Avthorization" method="post" class="form-login">
                        <div class="white">
                            <div class="form-login-custom">
                                <h1>@Localizer["CarrierTMSHeader"]</h1>
                                <label for="">
                                    @Localizer["Email"]
                                    <div>
                                        <input name="Email" placeholder="abc@gmail.com">
                                    </div>

                                </label>
                                <label for="" class="password">
                                    @Localizer["Password"]
                                    <div class="d-flex align-items-center">
                                        <input type="password" id="password-input" name="Password" placeholder="@Localizer["Password"]">
                                        <a href="#" class="password-control" onclick="return show_hide_password(this, 'password-input');"></a>
                                    </div>

                                </label> 
                                <input type="submit" value="@Localizer["SignIn"]" class="btn1-big">
                                <a href="/recovery-password-send-mail">@Localizer["ForgotPassword"]?</a>
                            </div>


                        </div>
                        <label class="accept">
                            <input type="checkbox" name="accept" onchange="document.getElementById('mc-embedded-subscribe').disabled = !this.checked" checked />
                            <p>
                                @Localizer["FirstPartAgreements"] <a href="">@Localizer["SecondPartAgreements"]</a> @Localizer["And"] <a href="">@Localizer["ThirdPartAgreements"]</a>
                            </p>
                        </label>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
<style>
    input {
        border: 1px solid #C4C9D4;
    }
</style>