@using Microsoft.AspNetCore.Mvc.Localization
@using WebDispacher.Constants;

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Truck Dispatching Software";
}

<link href="~/css/RA/main.css" rel="stylesheet" type="text/css" />

<div class="bl-1">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <img src="img/device.svg" alt="">
            </div>
            <div class="col-md-6">
                <div class="text">
                    <h1>@Localizer["GreatWorkExperienceHeader"]</h1>
                    <p>
                        @Localizer["GreatWorkExperienceBody"]
                    </p>
                    @*<a href="/try_for_free">
                        <div class="btn1-big">@Localizer["TryForFree"]</div>
                    </a>*@
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bl-2">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-12 mb-4" style="text-align: center">
                <h1>@Localizer["HeaderFirstBlock"]</h1>
            </div>
            <div class="col-md-10">
                <div class="advantages">
                    <div class="one">
                        <div class="img">
                            <img src="img/ownerOperator.svg" alt="">
                        </div>
                        <h3>@Localizer["DispatcherFirstBlock"]</h3>
                    </div>
                    <div class="one">
                        <div class="img">
                            <img src="img/driver.svg" alt="">
                        </div>
                        <h3>@Localizer["DriverFirstBlock"]</h3>
                    </div>
                    <div class="one">
                        <div class="img">
                            <img src="img/mediumFleet.svg" alt="">
                        </div>
                        <h3>@Localizer["MediumFleetFirstBlock"]</h3>
                    </div>
                    <div class="one">
                        <div class="img">
                            <img src="img/largeFleet.svg" alt="">
                        </div>
                        <h3>@Localizer["LargeFleetFirstBlock"]</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bl-3">
    <div class="container-fluid">
        <div class="row align-items-center" style="justify-content: start;">
            <div class="col-md-7" style="padding-left:0;">
                <img src="img/mobilScreen.svg" alt="">
            </div>
            <div class="col-md-5">
                <div class="text">
                    <h1>@Localizer["HeaderSecondBlock"]</h1>
                    <p>@Localizer["BodySecondBlock"]</p>
                    <div class="market-places">
                        <a class="mr-3" href="" target="_blank">
                            <img src="img/googleplay.svg" alt="">
                        </a>
                        <a href="https://apps.apple.com/ae/app/truckonnow/id1608211023" target="_blank">
                            <img src="img/appstore.svg" alt="https://apps.apple.com/ae/app/truckonnow/id1608211023">
                        </a>
                    </div>
                    <h6>* @Localizer["FooterSecondBlock"]</h6>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bl-4">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="text">
                    <h1>@Localizer["FirstHeaderThirdBlock"]</h1>
                    <p>@Localizer["FirstBodyThirdBlock"]</p>
                </div>
            </div>
            <div class="col-md-6">
                <img src="img/car.svg" alt="">
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-md-6">
                <img src="img/motorcycle.png" alt="">
            </div>
            <div class="col-md-6">
                <div class="text moto">
                    <h1>@Localizer["SecondHeaderThirdBlock"]</h1>
                    <p>@Localizer["SecondBodyThirdBlock"]</p>
                </div>
            </div>
        </div>
    </div>
</div>
@*<div class="bl-5">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-md-auto">
                <h1>@Localizer["HeaderFourthBlock"]</h1>
                <ul class="plus">
                    <li>@Localizer["PointОneFourthBlock"]</li>
                    <li>@Localizer["PointTwoFourthBlock"]</li>
                </ul>
            </div>
            <div class="col-md-auto">
                <a href="/try_for_free">
                    <div class="btn2-big">@Localizer["TryForFree"]</div>
                </a>
            </div>
        </div>
    </div>
</div>*@
<div class="bl-6">
    <div class="container-fluid">
        <div class="row align-items-center" style="justify-content: end;">
            <div class="ml-4 col-md-4">
                <div class="text">
                    <h1>@Localizer["HeaderFifthBlock"]</h1>
                    <p>@Localizer["BodyFifthBlock"]</p>
                </div>
            </div>
            <div class="col-md-6" style="padding-right:0;">
                <img src="img/fullAccess.svg" alt="" class="desc">
            </div>
        </div>
    </div>
</div>
<div class="bl-7">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <img src="img/mobileMap.svg" alt="">
            </div>
            <div class="col-md-6">
                <div class="text">
                    <h1>@Localizer["HeaderSixthBlock"]</h1>
                    <p>@Localizer["BodySixthBlock"]</p>
                    <ul class="plus">
                        <li>@Localizer["FirstPlusSixthBlock"]</li>
                        <li>@Localizer["SecondPlusSixthBlock"]</li>
                        <li>@Localizer["ThirdPlusSixthBlock"]</li>
                        <li>@Localizer["FourthPlusSixthBlock"]</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bl-8">
    <div class="container-fluid">
        <div class="row d-flex justify-content-end">
            <div class="col-md-10" style="padding-right:0;">
                <img src="img/eliminatePaperwork.svg" alt="" class="desc">
                <img src="img/bl8-mob.svg" alt="" class="mob">
            </div>
        </div>
    </div>
</div>
<div class="bl-9">
    <div class="features">
        <div class="container">
            <div class="row">
                <div class="">
                    <h1 style="font-size: 28px;">@Localizer["HeaderSeventhBlock"]</h1>
                </div>
                <div class="col-md-10 mt-5">
                    <div class="features" style="display: flex; flex-flow: row wrap; justify-content: center;">
                        <div class="features-item m-2 mt-4">
                            <img src="img/Main/Features/Marketplace.svg" alt="">
                            <h3>@Localizer["Marketplace"]</h3>
                        </div>
                        <div class="features-item m-2 mt-4">
                            <img src="img/Main/Features/DriverCheck.svg" alt="">
                            <h3>@Localizer["DriverCheck"]</h3>
                        </div>
                        <div class="features-item m-2 mt-4">
                            <img src="img/Main/Features/CompanyRating.svg" alt="">
                            <h3>@Localizer["CompanyRating"]</h3>
                        </div>
                        <div class="features-item m-2 mt-4">
                            <img src="img/Main/Features/RepairLocator.svg" alt="">
                            <h3>@Localizer["RepairLocator"]</h3>
                        </div>
                        <div class="features-item m-2 mt-4">
                            <img src="img/Main/Features/Tracking.svg" alt="">
                            <h3>@Localizer["Tracking"]</h3>
                        </div>
                        <div class="features-item m-2 mt-4">
                            <img src="img/Main/Features/LegalSupport.svg" alt="">
                            <h3>@Localizer["LegalSupport"]</h3>
                        </div>
                        <div class="features-item m-2 mt-4">
                            <img src="img/Main/Features/TicketContest.svg" alt="">
                            <h3>@Localizer["TicketContest"]</h3>
                        </div>
                        <div class="features-item m-2 mt-4">
                            <img src="img/Main/Features/FleetManagement.svg" alt="">
                            <h3>@Localizer["FleetManagement"]</h3>
                        </div>
                        <div class="features-item m-2 mt-4">
                            <img src="img/Main/Features/DispatchManagement.svg" alt="">
                            <h3>@Localizer["DispatchManagement"]</h3>
                        </div>
                        <div class="features-item m-2 mt-4">
                            <img src="img/Main/Features/ELDService.svg" alt="">
                            <h3>@Localizer["ELDSerivce"]</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bl-10">
    <div class="container">
        <div class="row">
            @*<div class="col-md-12">
                <h1>@Localizer["HeaderEighthBlock"]</h1>
            </div>*@
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="one-price">
                    <div class="top">
                        <h3>@Localizer["StartPackage"]</h3>
                    </div>
                    <div class="middle">
                        <div class="blue-header">
                            $ 9.99
                        </div>
                        <div class="packages-body">
                            @Localizer["StartPackageBody"]
                        </div>
                    </div>
                    <div class="bottom">
                        <a href="/carrier-reg">
                            <div class="btn1 big-button">@Localizer["GetStarted"]</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        @*<div class="row">
            <div class="col-md-12">
                <p>
                    @Localizer["FooterFirstPartEighthBlock"] <a href="/try_for_free">@Localizer["FooterSecordPartEighthBlock"]</a>
                </p>
            </div>
        </div>*@
    </div>
</div>
<div @*class="bl-5 dop"*@>
    @*<div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-md-auto" style="max-width: 760px;">
                <h1>
                    @Localizer["FirstPartHeaderNinthBlock"]<br>
                    @Localizer["SecondPartHeaderNinthBlock"]
                </h1>
                <ul class="plus">
                    <li>@Localizer["PointОneNinthBlock"]</li>
                    <li>@Localizer["PointTwoNinthBlock"]</li>
                </ul>
            </div>
            <div class="col-md-auto">
                <a href="/try_for_free">
                    <div class="btn2-big">@Localizer["TryForFree"]</div>
                </a>
            </div>
        </div>
    </div>*@
    <div class="modal fade" id="addNewDocFormModal" tabindex="-1" role="dialog" aria-labelledby="addNewDocFormModalLabel" aria-hidden="true">
        <content class="ng-modal-wrapper">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header modal-title">
                        <h1 class="modal-h1 modal-header-2" id="DeleteDriverLabel">@Localizer["ModalHeader"]</h1>
                        <p class="modal-p modal-p-2">
                            @Localizer["ModalDescription"] <br/>
                            <a href="tel:+17734204444">+1 (773) 420 4444</a>
                        </p>
                        <button type="button" style="margin-left:16px;font-size:22px;" class="close text-right" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&#9587;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="tabContent">
                            <form id="contactForm" action="">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="elem-1">
                                            <label for="">
                                                @Localizer["ModalFormName"]
                                                <input type="text" id="user-name" name="name" required>
                                            </label>
                                        </div>
                                        <div class="elem-2">
                                            <label for="">
                                                @Localizer["ModalFormEmail"]
                                                <input type="email" pattern="@PatternConstants.Email" id="user-email" name="email" required>
                                            </label>
                                        </div>
                                        <div class="elem-2">
                                            <label for="">
                                                @Localizer["ModalFormPhone"]
                                                <div class="intl-tel-input">
                                                    <input type="text" placeholder="(XXX)-XXX-XXXX" id="phone" name="Number" pattern="@PatternConstants.PhoneNumberWithoutCountryCode" required>
                                                    <input type="hidden" id="country-code-dialcode" name="PhoneNumber.DialCode">
                                                    <input type="hidden" id="country-code-iso2" name="PhoneNumber.Iso2">
                                                    <input type="hidden" id="country-code-name" name="PhoneNumber.Name">
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-6 without-padding">
                                        <div class="elem-3">
                                            <label for="">
                                                @Localizer["ModalFormMessage"]
                                                <textarea type="text" id="user-message" name="message" required></textarea>
                                            </label>
                                            <button type="submit" class="btn1 btn-modal submit-modal">@Localizer["ModalFormSubmit"]</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                   <div @*class="modal-footer"*@>@*
                        <div class="row">
                            <div class="col-md-6">
                                <div class="left-modal-footer" style="width: 100%">
                                    <div class="text-h2-white lh-3 mb-2">
                                        @Localizer["ModalFooterDescription"]
                                    </div>
                                    <div class="modal-ul lh-2-5">
                                        <ul class="text-p-white pl-4">
                                            <li>@Localizer["ModalFooterFirstItem"]</li>
                                            <li>@Localizer["ModalFooterSecondItem"]</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 d-flex align-items-center">
                                <div class="right-modal-footer" style="width:100%">
                                    <div class="center-text">
                                        <a href="/try_for_free">
                                            <div class="btn1 btn-black">@Localizer["TryForFree"]</div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>*@
                    </div>
                </div>
            </div>
        </content>
    </div>
</div>
<footer>
    <div class="container">
        <div class="row align-items-center justify-content-between" style="text-align:center">
            <div class="col-md-auto">
                <div class="logo">
                    <a href="">
                        <img src="img/logo-w.svg" alt="">
                    </a>
                </div>
                </div>
                @*<p>
                    @Localizer["BodyTenthBlock"] <a href="tel:+1 (773) 420-4444">+1 (773) 420-4444</a>
                </p>
                </div>*@
            <div class="d-flex justify-content-end">
                <div class="col-md-12">
                    <button class="btn1" style="width: 150px;padding: 16px 20px;" data-toggle="modal" data-target="#addNewDocFormModal">@Localizer["ContactUs"]</button>
                </div>
            </div>

        </div>
    </div>
</footer>

<link rel="stylesheet" href="~/libs/intl-tel-input-master/css/intlTelInput.css">
<script src="~/libs/intl-tel-input-master/js/intlTelInput.js"></script>
<script>
    $.fn.setCursorPosition = function (pos) {
        if ($(this).get(0).setSelectionRange) {
            $(this).get(0).setSelectionRange(pos, pos);
        }
        else if ($(this).get(0).createTextRange) {
            var range = $(this).get(0).createTextRange();
            range.collapse(true);
            range.moveEnd('character', pos);
            range.moveStart('character', pos);
            range.select();
        }
    };

    $('input[name="Number"]').on('click', function () {
        $(this).setCursorPosition(1);
    });

    $("#phone").mask("(999)-999-9999", { placeholder: "(XXX)-XXX-XXXX" });

    $(document).ready(function(){
        if ("@TempData["Alert"]" === "SuccessSendEmail") {
            SuccessAlert("@Localizer["SuccessSendEmail"]");
        }
    });

    $("#phone").mask("(999)-999-9999", { placeholder: "(XXX)-XXX-XXXX" });

    $(document).ready(function() {
        if(!$("#country-code-iso2").val()){
            $("#country-code-iso2").val("us");
            $("#country-code-dialcode").val("1");
            $("#country-code-name").val("United States");
        }

        var phoneNumber = $("#phone-number");
        phoneNumber.intlTelInput({
            initialCountry: $("#country-code-iso2").val() ? $("#country-code-iso2").val() : "us",
            separateDialCode: true,
        });

        input.on("countrychange", function(e, countryData) {
            $("#country-code-dialcode").val(countryData.dialCode);
            $("#country-code-iso2").val(countryData.iso2);
            $("#country-code-name").val(countryData.name);
        });
      });

    $('.submit-modal').on('click', function (event) {
        let form = document.getElementById('contactForm');
        if(form.checkValidity() == true){
            event.preventDefault();

            let body = {
                SenderName: $('#user-name').val(),
                SenderEmail: $('#user-email').val(),
                PhoneNumber: {
                    Number : $('#phone').val(),
                    Iso2: $("#country-code-iso2").val(),
                    DialCode: $("#country-code-dialcode").val(),
                    Name: $("#country-code-name").val(),
                },
                Message: $('#user-message').val(),
            };

            console.log(body);
            $.ajax({
                type: "post",
                data: body,
                async: true,
                url: `/RA/ContactForm`,
                success: function (response) {
                    if(response === true){
                        SuccessAlert("@Localizer["ContactFormSuccessSend"]")
                        $('#user-name').val("");
                        $('#user-email').val("");
                        $('#phone-number').val("");
                        $('#user-message').val("");
                        $("#country-code-iso2").val("us");
                        $("#country-code-dialcode").val("1");
                        $("#country-code-name").val("United States");
                    }else{
                        WarningAlert("@Localizer["ContactFormNotSend"]")
                    }
                },
                error: function (response) {
                    ErrorAlert("@Localizer["ContactFormHaveError"]");
                },
                complete: function () {
                    $('#addNewDocFormModal').modal('hide');
                }
            });
        }
        
    });

</script>

<script>
    $('#phone').on('input invalid', function () {
        this.setCustomValidity('')
        if (this.validity.valueMissing) {
            this.setCustomValidity("@Localizer["ValidOnlyNumbersMessage"]")
        }
        if (this.validity.typeMismatch) {
            this.setCustomValidity("@Localizer["ValidOnlyNumbersMessage"]")
        }
        if (this.validity.patternMismatch) {
            this.setCustomValidity("@Localizer["ValidOnlyNumbersMessage"]")
        }
    })
</script>

<style>
    input {
        height: 60px !important;
    }

    textarea {
        height: 285px !important;
    }

    .without-padding {
        padding-left: 0px;
    }

    .modal-body {
        padding-left: 2rem;
        padding-right: 2rem;
        padding-bottom: 2rem;
        padding-top: 0;
    }

    .modal-header {
        padding: 1.25rem;
    }

    label {
        width: 100% !important;
    }

    .form-group label {
        width: 100%;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.7;
        color: #08112b;
        text-align: left;
        margin-top: 0;
        display: block;
        margin-bottom: 15px;
    }

    .modal-dialog {
        position: absolute;
        left: 30%;
        top: 75px;
        width: 700px !important;
        text-align: left;
        background-color: #fff;
        -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15), 0px 0px 1px 1px rgba(0, 0, 0, 0.05);
        -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15), 0px 0px 1px 1px rgba(0, 0, 0, 0.05);
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15), 0px 0px 1px 1px rgba(0, 0, 0, 0.05);
        transition: height 0.25s linear;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 30px 30px 40px 40px;
    }

    .modal-content {
        border: 0px;
        border-radius: 40px;
    }

    .ng-modal-wrapper {
        display: inline-block;
        vertical-align: middle;
        padding: 50px 0;
        width: 100%;
        position: relative;
    }

    .modal-dialog label {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;
        padding: 3px 0px 4px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        margin-top: 2px;
        background: none;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: -.016em;
        -moz-transition-property: all;
        -o-transition-property: all;
        -webkit-transition-property: all;
        transition-property: all;
        -moz-transition-duration: 300ms;
        -o-transition-duration: 300ms;
        -webkit-transition-duration: 300ms;
        transition-duration: 300ms;
        border-radius: 30px;
    }

    .modal-buttons .right-buttons {
        float: right;
    }

    .modal-title h1 {
        font-size: 36px;
    }

    .modal-header {
        justify-content: center;
        padding: 2rem;
        border-bottom: 0;
    }


    .bl-3 {
        background: #f0f4fa;
    }


    .bl-3 .text h6 {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.25;
        color: #686f7c
    }

    .bl-3 .text a img {
        width: 96%;
        margin-top: 1.25rem;
    }

    .row {
        justify-content: center;
    }

    .modal-h1 {
        color: #000 !important;
    }

    .modal-header-2 {
        min-width: 50%;
        width: 50%;
        padding-top: 2%;
    }

    .modal-p {
        font-size: 16px;
    }

    .modal-p-2 {
        padding-top: 2%;
    }

    .elem-1 {
        display: inline-block;
        margin-right: 3%;
        width: 100%;
    }

    .elem-2 {
        display: inline-block;
        margin-right: 3%;
        width: 100%;
    }

    .elem-3 {
        display: inline-block;
        width: 100%;
    }

    .btn-modal {
        width: 100% !important;
        text-align: center;
        font-size: 24px;
    }

    form {
        margin-bottom: 0px !important;
    }

    .modal-footer {
        background: #2c5deb;
        border-radius: 0px 0px 30px 30px;
    }

    .text-h2-white {
        font-size: 20px;
        font-weight: 700;
        color: #ffffff;
    }

    .text-p-white {
        font-size: 16px;
        font-weight: 400;
        color: #ffffff;
    }

    ul li {
        list-style-type: none;
    }

    .modal-ul ul li:before {
        content: '+';
        color: #000000;
        position: absolute;
        left: 12px;
    }

    .lh-3 {
        line-height: 30px;
    }

    .lh-2-5 {
        line-height: 25px;
    }

    .modal-footer {
        padding: 2rem;
        justify-content: normal !important;
    }

    .btn-black {
        background: #000000 !important;
        border: 1px solid #000000;
        text-align: center;
        font-size: 24px;
    }

    .center-text {
        text-align: center;
    }
    
    .features .container {
        max-width: 90%;
    }
    
    .features-item {
        text-align: center;
    }
    
    .features-item .img {
        margin-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
    }

    .tabContent form label .intl-tel-input {
        width: 100%;
    }
</style>