@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

<div>
    @if (ViewBag.isStateActual == 0)
    {
        <div class="text-red">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="pb-2">@Localizer["NoAccess"]</h2>
                        <h3 class="pb-3">@Localizer["NoAccessBody"]</h3>
                        <button onclick="window.location.href='@ViewBag.BaseUrl/carrier-login'" class="btn1">OK</button>
                    </div>
                </div>
            </div>
        </div>
    }
    else if (ViewBag.isStateActual == 1)
    {
    <div class="login-page recover-password-page">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5 col-md-7">
                    <form method="post" action="~/Restore/Password" class="form-login">
                        <div class="white">
                            <h1>@Localizer["RecoverPasswordHeader"]</h1>
                            <label for="">
                                @Localizer["NewPassword"]
                                <div class="d-flex align-items-center">
                                    <input type="password" id="password" name="newPassword" placeholder="@Localizer["Password"]" required>
                                    <a href="#" class="password-control pass-position" onclick="return show_hide_password(this, 'password');"></a>
                                </div>
                            </label>
                            <label for="" class="password">
                                @Localizer["Password"]
                                <div class="d-flex align-items-center">
                                    <input type="password" id="confirm_password" placeholder="@Localizer["ConfirmPassword"]" name="confirmPsw" required>
                                    <a href="#" class="password-control" onclick="return show_hide_password(this, 'confirm_password');"></a>
                                </div>
                            </label>
                            <input style="display:none" name="idDriver" value="@ViewBag.IdDriver" />
                            <input style="display:none" name="idUser" value="@ViewBag.idUser" />
                            <input style="display:none" name="token" value="@ViewBag.token" />
                            <input type="submit" value="@Localizer["SignUp"]" class="btn1-big">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    }
    else if (ViewBag.isStateActual == 2)
    {
    <div class="text">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="pb-2">@Localizer["MessageFirstPart"]</h2>
                    <h3 class="pb-3">@Localizer["MessageSecondPart"]</h3>
                    <button onclick="window.location.href='@ViewBag.BaseUrl'" class="btn1">OK</button>
                </div>
            </div>
        </div>
    </div>
    }
</div>


<script>
    var password = document.getElementById("password")
        , confirm_password = document.getElementById("confirm_password");

    function validatePassword() {
        if (password.value != confirm_password.value) {
            confirm_password.setCustomValidity("Passwords Don't Match");
        } else {
            confirm_password.setCustomValidity('');
        }
    }

    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;
</script>

<style>
    .pass-position {
        right: 16% !important;
        top: 33.5% !important;
    }

    .form.form-login .white .password-control {
        top: 57%;
        right: 6.5%;
    }
</style>