@using Microsoft.AspNetCore.Mvc.Localization;
@using WebDispacher.ViewModels.RA.Carrier;

@inject IViewLocalizer Localizer

@model ResetPasswordViewModel

@{
    ViewData["Title"] = "Recovery Password";
}

<div class="login-page recover-password-page">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-7">
            <form method="post" action="~/RA/ResetPassword" class="form-login">
                    <div class="white">
                        <h1>@Localizer["RecoverPasswordHeader"]</h1>
                        @Html.ValidationSummary()
                        <label for="">
                            @Localizer["NewPassword"]
                            <div class="d-flex align-items-center">
                                <input type="password" id="password" asp-for="Password" placeholder="@Localizer["PasswordPlaceholder"]" required>
                                <a href="#" class="password-control pass-position" onclick="return show_hide_password(this, 'password');"></a>
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            </div>
                        </label>
                        <label for="" class="password">
                            @Localizer["ConfirmPassword"]
                            <div class="d-flex align-items-center">
                                <input type="password" id="confirm_password" placeholder="@Localizer["ConfirmPasswordPlaceholder"]" asp-for="ConfirmPassword" required>
                                <a href="#" class="password-control" onclick="return show_hide_password(this, 'confirm_password');"></a>
                                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                            </div>
                        </label>
                        <input type="hidden" asp-for="Code" value="@Model.Code" />
                        <input type="hidden" asp-for="UserId" value="@Model.UserId" />
                        <input type="submit" value="@Localizer["SignUp"]" class="btn1-big">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    var password = document.getElementById("password");
    var confirm_password = document.getElementById("confirm_password");

    function validatePassword() {
        if (password.value != confirm_password.value) {
            confirm_password.setCustomValidity("@Localizer["PasswordsDontEquals"]");
        } else {
            confirm_password.setCustomValidity('');
        }
    }

    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;
</script>

<style>
    header {
        position: relative;
        padding-bottom: 15px;
        border-bottom: 1px solid #c4c9d5;
    }

    .pass-position {
        right: 16% !important;
        top: 33.5% !important;
    }

    .form.form-login .white .password-control {
        top: 57%;
        right: 6.5%;
    }
</style>