@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer
<body>
    <div class="login-page">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-5">
                    <p style="color: red; text-align: center; font-size: 15px">
                        @ViewData["TextError"]
                    </p>
                    <form action="" class="form-login">
                        <div class="white">
                            <h1>@Localizer["ShipperTMS"]</h1>
                            <label for="">
                                @Localizer["Email"]
                                <input type="email" placeholder="abc@gmail.com">
                            </label>
                            <label for="" class="password">
                                @Localizer["Password"]
                                <input type="password" id="password-input" name="password" placeholder="@Localizer["Password"]">
                                <a href="#" class="password-control" onclick="return show_hide_password(this, 'password-input');"></a>
                            </label>
                            <input type="submit" value="@Localizer["SignIn"]" class="btn1-big">
                            <a href="/recovery-password-send-mail">@Localizer["ForgotPassword"]?</a>
                        </div>
                        <label class="accept">
                            <input type="checkbox" name="accept" onchange="document.getElementById('mc-embedded-subscribe').disabled = !this.checked" checked />
                            <p>
                                @Localizer["FirstPartAgreements"] <a href="">@Localizer["SecondPartAgreements"]s</a> @Localizer["And"] <a href="">@Localizer["ThirdPartAgreements"]</a>
                            </p>
                        </label>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
