@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

<div class="register-page">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="left-text">
                    <h1>@Localizer["Header"]</h1>
                    <div class="regShipperMap">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="right-form">
                    <form action="">
                        <label for="" class="w50">
                            @Localizer["FormFirstName"]
                            <input type="text">
                        </label>
                        <label for="" class="w50">
                            @Localizer["FormLastName"]
                            <input type="text">
                        </label>
                        <label for="">
                            @Localizer["FormCompanyName"]
                            <input type="text">
                        </label>
                        <label for="">
                            @Localizer["Email"]
                            <input type="email">
                        </label>
                        <label for="">
                            @Localizer["PhoneNumber"]
                            <input type="tel" id="phone" />
                        </label>
                        <label for="">@Localizer["HowManyCars"]?</label>
                        <div class="cheked">
                            <label for=""><input type="radio" name="" id="">1 - 100</label>
                            <label for=""><input type="radio" name="" id="">101 - 500</label>
                            <label for=""><input type="radio" name="" id="">501 - 1 000</label>
                            <label for=""><input type="radio" name="" id="">1 000+</label>
                        </div>
                        <label for="">
                            @Localizer["HowAboutUs"]? <span>(@Localizer["Optional"])</span>
                            <input type="text">
                        </label>
                        <input type="submit" value="@Localizer["RequestAccess"]" class="btn1-big">
                        <p>@Localizer["Agreements"] <a href="">@Localizer["TermsConditions"]</a> @Localizer["And"] <a href="">@Localizer["PrivacyPolicy"]</a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>