@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

<header class="line">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-md-auto">
                <div class="logo">
                    <img src="~/img/logo.svg" alt="" onclick="document.location.href='http://truckonnow.com/'">
                </div>
            </div>
            <div class="col-md-auto">
                <ul class="menu top-nav_menu">
                    <li><a id="Dashboard" href="/Dashboard">@Localizer["Dashboard"]</a></li>
                    <li><a id="Order" href="/Dashbord/Order/NewLoad">@Localizer["Orders"]</a></li>
                    <li><a id="Driver" href="/Driver/Drivers">@Localizer["Drivers"]</a></li>
                    <li><a id="Equipment" href="/Equipment/Trucks">@Localizer["Equipment"]</a></li>
                    <li><a id="Geolcation" href="/Geolcation/Map">@Localizer["GPSTracking"]</a></li>
                    <li><a id="Contact" href="/Contact/Contacts">@Localizer["Contacts"]</a></li>
                    <li><a id="Checks" href="/Checks/DriverCheck">@Localizer["Checks"]</a></li>
                    <li><a id="Marketplace" href="/Marketplace">@Localizer["Marketplace"]</a></li>
                    <li><a id="Resources" href="/Resources">@Localizer["Resources"]</a></li>
                    <li><a id="Settings" href="/Settings/Biling/PaymentMethod">@Localizer["Settings"]</a></li>
                    <li><a href="/Exsit">@Localizer["Exit"]</a></li>
                </ul>
                <div class="burger">
                    <button class="top-nav_btn hamburger hamburger--3dy">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</header>


<script>
    const NavItems = ['Checks', 'Order', 'Dashboard', 'Geolcation', 'Contact', 'Driver', 'Equipment', 'Marketplace', 'Resources', 'Settings']
    $(document).ready(function () {
        var str = location.pathname
        for (let i = 0; i < NavItems.length; i++) {
            if (str.indexOf(NavItems[i]) >= 0) {
                $('#' + NavItems[i]).addClass('active');
                break;
            }
        }

    });
</script>