@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "All subscriptions";
}

<div class="admin Billing">
    <div class="container">
        <h1>@Localizer["ChooseSubscription"]</h1>
        @foreach (var subscription in ViewBag.Subscriptions)
        {
            <div class="content" style="margin-bottom: 60px;">
                <p><strong>@Localizer["Name"]: </strong>@subscription.Name</p>
                <p><strong>@Localizer["TotalDaysSubscriptions"]: </strong>@subscription.PeriodDays @Localizer["Days"]</p>
                <p><strong>@Localizer["Price"]: </strong>@subscription.Price</p>
                <a href="~/Settings/Subscription/Select?idPrice=@subscription.IdSubscriptionST&priodDays=@subscription.PeriodDays" style="color:#69eb2c;text-align: center;width: 150px;" class="btn2">@Localizer["Select"]</a>
            </div>
        }
    </div>
</div>

<style>
    .content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-flow: column;
    }
</style>