@using Microsoft.AspNetCore.Mvc.Localization
@using System.Globalization;
@using WebDispacher.Constants;

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Company All Users";
    DateTime dateTimeRegistrationFormat = DateTime.MinValue;
}

<body>
    <div class="admin">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title">
                        <h1>@Localizer["Users"]</h1>
                        <select class="btn1 btn1-big-auto company-users" onchange="window.location.href ='Users?idCompanySelect=' + this.options[this.selectedIndex].value">
                            <option selected value="0">@Localizer["AllUsers"]</option>
                            @for (int i = 0; i < ViewBag.Companies.Count; i++)
                            {
                                @if (ViewBag.IdCompanySelect != 0 && ViewBag.Companies[i].Id == ViewBag.IdCompanySelect)
                                {
                                    <option selected value="@ViewBag.Companies[i].Id">@ViewBag.Companies[i].Name</option>
                                }
                                else
                                {
                                    <option value="@ViewBag.Companies[i].Id">@ViewBag.Companies[i].Name</option>
                                }
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="tabs">
                        <div class="tab" onclick="window.location.href='@Url.Action("Companies", "Company")';">@Localizer["Companies"]</div>
                        <div class="tab whiteborder" onclick="window.location.href='@Url.Action("Users", "Company")';">@Localizer["AllUsers"]</div>
                        <div class="tabContent">
                            <table>
                                <thead>
                                    <tr>
                                        <th>@Localizer["Login"]</th>
                                        <th>@Localizer["Password"]</th>
                                        <th>@Localizer["CompanyName"]</th>
                                        <th>@Localizer["Registration"]</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < ViewBag.Users.Count; i++)
                                    {
                                        {
                                            var dateTimeString = @ViewBag.Users[i].Date;

                                            try
                                            {
                                                dateTimeRegistrationFormat = DateTime.ParseExact(dateTimeString, DateTimeFormats.FullDateTimeInfo, CultureInfo.InvariantCulture);
                                            }
                                            catch
                                            {

                                            }
                                        }
                                        <tr>
                                            <td>@ViewBag.Users[i].Login</td>
                                            <td style="word-break: break-all;">@ViewBag.Users[i].Password</td>
                                            <td>@ViewBag.Users[i].CompanyName</td>
                                            @if (dateTimeRegistrationFormat.Year == 1)
                                            {
                                                <td style="white-space: nowrap">@ViewBag.Users[i].Date</td>
                                            }
                                            else
                                            {
                                                <td style="white-space: nowrap">@dateTimeRegistrationFormat.ToString(DateTimeFormats.FullDateTimeInfoUS)</td>
                                            }
                                            
                                        </tr>
                                        {
                                            dateTimeRegistrationFormat = DateTime.MinValue;
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>