@using DaoModels.DAO.Enum;
@using Microsoft.AspNetCore.Mvc.Localization
@using WebDispacher.Constants;
@using WebDispacher.Service;

@model List<DaoModels.DAO.Models.Company>

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Companies";
    DateTime dateTimeRegistrationFormat = DateTime.MinValue;
}

<body>
    <div class="admin">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title">
                        <h1>@Localizer["Companies"]</h1>
                        <button class="btn1" onclick="window.location.href='@Url.Action("CreateCompany", "Company")';">@Localizer["AddCompany"]</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="tabs">
                        <div class="tab whiteborder" onclick="window.location.href='@Url.Action("Companies", "Company")';">@Localizer["Companies"]</div>
                        <div class="tabContent">
                            <table>
                                <thead>
                                    <tr>
                                        <th>@Localizer["Name"]</th>
                                        <th>@Localizer["UserId"]</th>
                                        <th>@Localizer["Password"]</th>
                                        <th>@Localizer["TypeOfCompany"]</th>
                                        <th>@Localizer["Registration"]</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < Model.Count; i++)
                                    {
                                        foreach (var item in Model[i].CompanyUsers)
                                        {
                                            string entryType = string.Empty;
                                            bool isActive = true;
                                            switch (Model[i].CompanyStatus)
                                            {
                                                case CompanyStatus.Deactivate:
                                                    entryType = "deactivate";
                                                    isActive = false;
                                                    break;
                                                case CompanyStatus.Admin:
                                                    entryType = "admin-company";
                                                    break;
                                                default:
                                                    break;
                                            }

                                            <tr class="@entryType">
                                                <td>@Model[i].Name</td>
                                                <td>@item.User.Email</td>
                                                <td style="word-break:break-all; max-width:300px;">@item.User.PasswordHash</td>
                                                <td>@Model[i].CompanyType</td>
                                                <td>@Model[i].DateTimeRegistration.ToString(DateTimeFormats.FullDateTimeInfoUS)</td>

                                                <td class="control-panel">
                                                    <div data-title="@Localizer["EditNotificataion"]" class="ico-doc ico-doc-edit" onclick="document.location.href = 'EditCompany?id='+@Model[i].Id;">
                                                        <i class="bi bi-pencil-square" style="color: #ff9800; font-size:20px"></i>
                                                    </div>

                                                    <div data-title="@Localizer["ViewNotificataion"]" class="ico-doc ico-doc-view" onclick="document.location.href = 'Company?id=@Model[i].Id';">
                                                        <i class="bi bi-cursor-fill" style="color: #4caf50; font-size:20px"></i>
                                                    </div>
                                                    @*<img src="~/img/arrow.svg" alt="" onclick="window.location.href = 'Users?idCompanySelect=@ViewBag.Companies[i].Id';" />*@

                                                    <div data-title="@Localizer["DocNotificataion"]" class="ico-doc ico-doc-documents" onclick="document.location.href = '@ViewBag.BaseUrl/Company/Doc?id=@Model[i].Id';">
                                                        <i class="bi bi-file-earmark-medical-fill" style="color: #3f51b5; font-size:20px"></i>
                                                    </div>
                                                    @*<img src="~/img/doc.svg" alt="" onclick="window.location.href = '@ViewBag.BaseUrl/Company/Doc?id=@ViewBag.Companies[i].Id';">*@

                                                    <div data-title="@Localizer["LoginNotificataion"]" class="ico-doc ico-doc-login open-ConfirmLogin login-nt" data-toggle="modal" data-id="@Model[i].Id" href="#CompanyLogin">
                                                        <i class="bi bi-box-arrow-in-up-right" style="color: #03a9f4; font-size:20px"></i>
                                                    </div>

                                                    <div data-title="@Localizer["SendEmailNotificataion"]" class="ico-doc ico-doc-send-email open-SendEmailForm" data-toggle="modal" data-id="@Model[i].Id" href="#sendEmailModalId">
                                                        <i class="bi bi-chat-right-text" style="color: #607d8b; font-size:20px"></i>
                                                    </div>

                                                    @if (isActive)
                                                    {
                                                        <div data-title="@Localizer["DeleteNotificataion"]" class="ico-doc ico-doc-delete open-ConfirmDelete deactivate-nt" data-toggle="modal" data-id="@Model[i].Id" href="#CompanyDeactivate">
                                                            <i class="bi bi-lightbulb-fill" style="color: #52bd5a; font-size:20px"></i>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div data-title="@Localizer["ActivateNotificataion"]" class="ico-doc ico-doc-activate open-ConfirmActivate activate-nt" data-toggle="modal" data-id="@Model[i].Id" href="#CompanyActivate">
                                                            <i class="bi bi-lightbulb" style="color: #f44336; font-size:20px"></i>
                                                        </div>
                                                    }
                                                    @*<img src="~/img/delet.svg" alt="" onclick="RemoveCompany(@ViewBag.Companies[i].Id)">*@
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                            <pagination-list actual-pages="functions.GetPages(ViewBag.SelectedPage, ViewBag.CountPages)" selected-page="ViewBag.SelectedPage" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @await Html.PartialAsync("~/Views/PartView/Modals/ConfirmDelete.cshtml", new ViewDataDictionary(ViewData) { {"ModalId", "CompanyDeactivate"}, { "ConfirmMessage", "CompanyDeactivate" } });
    @await Html.PartialAsync("~/Views/PartView/Modals/ConfirmDelete.cshtml", new ViewDataDictionary(ViewData) { {"ModalId", "CompanyLogin"}, { "ConfirmMessage", "CompanyLogin" } });
    @await Html.PartialAsync("~/Views/PartView/Modals/ConfirmDelete.cshtml", new ViewDataDictionary(ViewData) { {"ModalId", "CompanyActivate"}, { "ConfirmMessage", "CompanyActivate" } });
    @await Html.PartialAsync("~/Views/PartView/Modals/EmailFormMessageSend.cshtml");
</body>

<script>
    ConfirmDeactivateCompany(GetDateTimeInFormat(new Date()), `/Company/Remove`, `/Company/Companies`, '#CompanyDeactivate');
    var entryId = '';

    $(document).on("click", ".open-ConfirmLogin", function () {
        entryId = $(this).data('id');
        ConfirmLoginEntry();
    });

    $(document).on("click", ".open-SendEmailForm", function () {
        entryId = $(this).data('id');
    });
    
    $(document).on("click", ".open-ConfirmActivate", function () {
        entryId = $(this).data('id');
    });

    function ConfirmDeactivateCompany(actualDate, requestUrl, responseUrl, modalSelector) {
        $(document).on("click", ".open-ConfirmDelete", function () {
            var entryId = $(this).data('id');
            $("#remove-entry-button").on("click", function () {
                var body = {
                    id: entryId,
                    localDate: actualDate,
                };
                $.ajax({
                    type: "post",
                    async: true,
                    data: body,
                    url: requestUrl,
                    success: function () {
                        window.location.href = responseUrl;
                        localStorage.setItem('notification', 'successDeactivate');
                    }
                });

                $(modalSelector).modal('hide');
            });
        });
    }

    function SendEmail() {
        const formElement = document.getElementById("sendEmailModalId");

        let subjectEl = formElement.getElementsByClassName("subject-input")[0];
        let messageEl = formElement.getElementsByClassName("message-area-input")[0];
        subjectEl.validity.valid;
        messageEl.validity.valid;
        if (subjectEl.validity.valid && messageEl.validity.valid) {
            let companyId = entryId
            var body = {
                companyId: companyId,
                subject: subjectEl.value,
                message: messageEl.value,
                localDate: GetDateTimeInFormat(new Date()),
            };

            $.ajax({
                type: "post",
                data: body, 
                url: `/Company/SendEmail`,
                success: function () {
                    SuccessAlert("Email was sent successfully");
                },
                error: function (response) {
                    ErrorAlert("Not success");
                }
            });
            subjectEl.value = "";
            messageEl.value = "";

            $("#sendEmailModalId").modal('hide');
        }
    }
    

    $(document).ready(function () {
        $("#CompanyLogin").find("#remove-entry-button").on("click", function () {
            var body = {
                companyId: entryId,
                localDate: GetDateTimeInFormat(new Date()),
            };

            $.ajax({
                type: "post",
                async: true,
                data: body,
                url: "/Company/LoginUser",
                success: function () {
                    window.location.href = "@Config.BaseReqvesteUrl";
                }
            });

            $("#CompanyLogin").modal('hide');
        });

        $("#CompanyActivate").find("#remove-entry-button").on("click", function () {
            var body = {
                companyId: entryId,
                localDate: GetDateTimeInFormat(new Date()),
            };

            $.ajax({
                type: "post",
                async: true,
                data: body,
                url: "/Company/Activate",
                success: function () {
                    localStorage.setItem('notification', 'successActivate');
                    window.location.href = "@Config.BaseReqvesteUrl";
                }
            });

            $("#CompanyActivate").modal('hide');
        });

        ShowAlert();
        ShowAlertSaveChanges();
    });


</script>