@using DaoModels.DAO.Enum;
@using Microsoft.AspNetCore.Mvc.Localization
@using WebDispacher.Constants;

@inject IViewLocalizer Localizer

@model WebDispacher.ViewModels.Company.CreateCompanyViewModel;

@{
    ViewData["Title"] = "Create Company";
}

<body>
    <div class="admin">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="tabContent">
                        <h2>@Localizer["InfoAboutTheCompany"]</h2>
                        <form action="" method="post" enctype="multipart/form-data">
                            <label class="big-label" for="">
                                @Localizer["NameCompany"]
                                <input class="height-input" id="name" type="text" asp-for="Name" required>
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </label>
                            <label class="big-label" for="">
                                @Localizer["PhoneCompany"]
                                <input class="height-input" type="text" id="phone" asp-for="PhoneNumber.Number" pattern="@PatternConstants.PhoneNumberWithoutCountryCode" placeholder="(XXX)-XXX-XXXX" required>
                                <input type="hidden" id="country-code-dialcode" name="PhoneNumber.DialCode">
                                <input type="hidden" id="country-code-iso2" name="PhoneNumber.Iso2">
                                <input type="hidden" id="country-code-name" name="PhoneNumber.Name">
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            </label>
                            <label class="big-label" for="">
                                @Localizer["EmailCompany"]
                                <input class="height-input" pattern="@PatternConstants.Email" type="email" id="email" asp-for="Email" required>
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </label>
                            <label class="big-label" for="">
                                @Localizer["PasswordCompany"]
                                <input class="height-input" type="text" id="password" asp-for="Password" required>
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </label>
                            <label class="big-label" for="">
                                @Localizer["TypeCompany"] <br />
                                <select class="height-input input-select" asp-for="CompanyType">
                                    <option selected value="@CompanyType.Carrier">@Localizer["Carrier"]</option>
                                    <option value="@CompanyType.Shipper">@Localizer["Shipper"]</option>
                                    <option value="@CompanyType.Broker">@Localizer["BrokerTMS"]</option>
                                </select>
                            </label>
                            <div class="full-label">
                                <a class="a-label">@Localizer["DocMcNumberConfirmation"]</a>
                                <div class="d-flex align-items-center wrap">
                                    <div class="file-group big-label mr-2 mb-2">
                                        <div class="row d-flex align-items-center inp-file-width">
                                            <div class="col-8 label-input">
                                                <div onclick="ClearFile(`fi1`, 'fl1');" class="fi" id="fl1"></div>
                                            </div>
                                            <div class="col-4 select-doc">
                                                <div class="select-button-1 d-flex justify-content-end">
                                                    <label>
                                                        @Localizer["SelectDocument"]
                                                        <input class="height-input" id="fi1" onchange="GetFileName(this.value, 'fl1');" type="file" name="MCNumberConfirmation" accept="application/pdf, image/jpeg, image/jpg">
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <a>@Localizer["InfoMessageUploadFiles"]</a>
                                    <p class="file-limit-exceeded text-danger"></p>
                                </div>
                            </div>
                            <div class="full-label">
                                <a class="a-label">@Localizer["DocIFTA"]</a>
                                <div class="d-flex align-items-center wrap">
                                    <div class="file-group big-label mr-2 mb-2">
                                        <div class="row d-flex align-items-center inp-file-width">
                                            <div class="col-8 label-input">
                                                <div onclick="ClearFile(`fi2`, 'fl2');" class="fi" id="fl2"></div>
                                            </div>
                                            <div class="col-4 select-doc">
                                                <div class="select-button-1 d-flex justify-content-end">
                                                    <label>
                                                        @Localizer["SelectDocument"]
                                                        <input class="height-input" id="fi2" onchange="GetFileName(this.value, 'fl2');" type="file" name="IFTA" accept="application/pdf, image/jpeg, image/jpg">
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <a>@Localizer["InfoMessageUploadFiles"]</a>
                                    <p class="file-limit-exceeded text-danger"></p>
                                </div>
                            </div>
                            <div class="full-label">
                                <a class="a-label">@Localizer["DocKYU"]</a>
                                <div class="d-flex align-items-center wrap">
                                    <div class="file-group big-label mr-2 mb-2">
                                        <div class="row d-flex align-items-center inp-file-width">
                                            <div class="col-8 label-input">
                                                <div onclick="ClearFile(`fi3`, 'fl3');" class="fi" id="fl3"></div>
                                            </div>
                                            <div class="col-4 select-doc">
                                                <div class="select-button-1 d-flex justify-content-end">
                                                    <label>
                                                        @Localizer["SelectDocument"]
                                                        <input class="height-input" id="fi3" onchange="GetFileName(this.value, 'fl3');" type="file" name="KYU" accept="application/pdf, image/jpeg, image/jpg">
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <a>@Localizer["InfoMessageUploadFiles"]</a>
                                    <p class="file-limit-exceeded text-danger"></p>
                                </div>
                            </div>
                            <div class="full-label">
                                <div style="width: 600px">
                                    <a class="a-label">@Localizer["DocLogbookPapers"]</a>
                                </div>
                                <div class="d-flex align-items-center wrap">
                                    <div class="file-group big-label mr-2 mb-2">
                                        <div class="row d-flex align-items-center inp-file-width">
                                            <div class="col-8 label-input">
                                                <div onclick="ClearFile(`fi4`, 'fl4');" class="fi" id="fl4"></div>
                                            </div>
                                            <div class="col-4 select-doc">
                                                <div class="select-button-1 d-flex justify-content-end">
                                                    <label>
                                                        @Localizer["SelectDocument"]
                                                        <input class="height-input" id="fi4" onchange="GetFileName(this.value, 'fl4');" type="file" name="logbookPapers" accept="application/pdf, image/jpeg, image/jpg">
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <a>@Localizer["InfoMessageUploadFiles"]</a>
                                    <p class="file-limit-exceeded text-danger"></p>
                                </div>
                            </div>
                            <div class="full-label">
                                <a class="a-label">@Localizer["DocCOI"]</a>
                                <div class="d-flex align-items-center wrap">
                                    <div class="file-group big-label mr-2 mb-2">
                                        <div class="row d-flex align-items-center inp-file-width">
                                            <div class="col-8 label-input">
                                                <div onclick="ClearFile(`fi5`, 'fl5');" class="fi" id="fl5"></div>
                                            </div>
                                            <div class="col-4 select-doc">
                                                <div class="select-button-1 d-flex justify-content-end">
                                                    <label>
                                                        @Localizer["SelectDocument"]
                                                        <input class="height-input" id="fi5" onchange="GetFileName(this.value, 'fl5');" type="file" name="COI" accept="application/pdf, image/jpeg, image/jpg">
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <a>@Localizer["InfoMessageUploadFiles"]</a>
                                    <p class="file-limit-exceeded text-danger"></p>
                                </div>
                            </div>
                            <div class="full-label">
                                <a class="a-label">@Localizer["DocPermits"]</a>
                                <div class="d-flex align-items-center wrap">
                                    <div class="file-group big-label mr-2 mb-2">
                                        <div class="row d-flex align-items-center inp-file-width">
                                            <div class="col-8 label-input">
                                                <div onclick="ClearFile(`fi6`, 'fl6');" class="fi" id="fl6"></div>
                                            </div>
                                            <div class="col-4 select-doc">
                                                <div class="select-button-1 d-flex justify-content-end">
                                                    <label>
                                                        @Localizer["SelectDocument"]
                                                        <input class="height-input" id="fi6" onchange="GetFileName(this.value, 'fl6');" type="file" name="permits" accept="application/pdf, image/jpeg, image/jpg">
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <a>@Localizer["InfoMessageUploadFiles"]</a>
                                    <p class="file-limit-exceeded text-danger"></p>
                                </div>
                            </div>
                            <input type="hidden" value="" name="dateTimeLocal" />
                            <input id="button-save" class="btn1 big-label height-input big-font-size" value="@Localizer["Save"]" type="submit" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="~/js/input-replacer.js"></script>
<script>

    setReplacer(document.querySelector('#name'), @ExpressionConstants.OnlyLetters);
    $("#fi1").change(function () {
        CheckValid('fl1', 'fi1');
    });

    $("#fi2").change(function () {
        CheckValid('fl2', 'fi2');
    });

    $("#fi3").change(function () {
        CheckValid('fl3', 'fi3');
    });

    $("#fi4").change(function () {
        CheckValid('fl4', 'fi4');
    });

    $("#fi5").change(function () {
        CheckValid('fl5', 'fi5');
    });

    $("#fi6").change(function () {
        CheckValid('fl6', 'fi6');
    });

    const dateInput = document.querySelector("[name='dateTimeLocal']");

    

    $(document).ready(function () {
        $("#phone").mask("(999)-999-9999", { placeholder: "(XXX)-XXX-XXXX" });
        if (!$("#country-code-iso2").val()) {
            $("#country-code-iso2").val("us");
            $("#country-code-dialcode").val("1");
            $("#country-code-name").val("United States");
        }

        var phoneNumber = $("#phone-number");
        phoneNumber.intlTelInput({
            initialCountry: $("#country-code-iso2").val() ? $("#country-code-iso2").val() : "us",
            separateDialCode: true,
        });

        input.on("countrychange", function (e, countryData) {
            $("#country-code-dialcode").val(countryData.dialCode);
            $("#country-code-iso2").val(countryData.iso2);
            $("#country-code-name").val(countryData.name);
        });
    });

    $("input[type=submit]").on('click', function () {
        CheckValid('fl1', 'fi1');
        CheckValid('fl2', 'fi2');
        CheckValid('fl3', 'fi3');
        CheckValid('fl4', 'fi4');
        CheckValid('fl5', 'fi5');
        CheckValid('fl6', 'fi6');

        dateInput.value = GetDateTimeInFormat(new Date());
    })

    $('#email').on('input invalid', function () {
        this.setCustomValidity('')
        if (this.validity.valueMissing) {
            this.setCustomValidity("@Localizer["EmailValidMessage"]")
        }
        if (this.validity.typeMismatch) {
            this.setCustomValidity("@Localizer["EmailValidMessage"]")
        }
        if (this.validity.patternMismatch) {
            this.setCustomValidity("@Localizer["EmailValidMessage"]")
        }
    })
</script>

<style>
    .intl-tel-input {
        width: 100%;
    }
</style>