@using Microsoft.AspNetCore.Mvc.Localization
@using System.Globalization;
@using WebDispacher.Constants;

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Mail Control";
}

<body>
    <div class="admin">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title">
                        <h1>@Localizer["MailControl"] User Messages</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="tabs">
                        <div class="tab whiteborder">New</div>
                        <div class="tab">Answered</div>
                        <div class="tab">All</div>
                        <div class="tabContent">
                            <table>
                                <thead>
                                    <tr>
                                        <th>@Localizer["DateReceived"]</th>
                                        <th>@Localizer["SenderEmail"]</th>
                                        <th>@Localizer["SenderPhone"]</th>
                                        <th>@Localizer["SenderName"]</th>
                                        <th>Message</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td style="white-space:nowrap;">05.11.2023 11:34 AM</td>
                                        <td style="white-space:nowrap;">test@gmail.com</td>
                                        <td style="white-space:nowrap;">+1-444-4444-4444</td>
                                        <td>John</td>
                                        <td>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                                            totam rem aperiam...</td>
                                            <td style="padding-bottom: 20px;padding-top: 20px;">
                                            <button type="button" class="btn1" data-bs-toggle="modal" id="modalClick" data-bs-target="#answerModal">@Localizer["Reply"]</button>
                                            </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="answerModal" tabindex="-1" role="dialog" aria-labelledby="addNewDocFormModalLabel" aria-hidden="true">
            <content class="ng-modal-wrapper">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header modal-title">
                            <h1 class="modal-h1 modal-header-2" id="DeleteDriverLabel">Answer</h1>
                        </div>
                        <div class="modal-body">
                            <div class="tabContent mt-0">
                                <div class="mb-3" style="padding:3px 10px 4px">
                                    <p>Email: <b>test@gmail.com</b></p>
                                    <p>Phone: <b>+1-444-4444-4444</b></p>
                                    <p>Name: <b>John</b></p>
                                    <p style="font-size:10px">
                                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                                        totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                                        Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui
                                        ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
                                        sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam,
                                        quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?
                                        Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur,
                                        vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
                                    </p>
                                </div>
                                <form id="contactForm" action="">
                                    <div class="row">
                                        <div class="col-md-12 without-padding">
                                            <div class="elem-3">
                                                <label for="">
                                                    Answer
                                                    <textarea type="text" id="user-message" name="message" required></textarea>
                                                </label>
                                                <label for="">
                                                    <button type="submit" class="btn1 btn-modal submit-modal">Submit</button>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </content>
        </div>
    </div>
    
</body>

<script>
    const myInput = document.getElementById('modalClick');

    myInput.addEventListener('click', () => {
        $("#answerModal").modal('show');
    })
</script>

<style>

    .tabContent form {
        margin-bottom: 30px;
    }

    p {
        font-size: 12px;
    }

    .btn1 {
        padding: 12px 20px;
        font-size: 14px;
        font-weight: 600;
        width: 100px!important;
    }
</style>

<style>
    .modal-dialog {
        position: absolute;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        top: 100px;
        width: 520px !important;
        text-align: left;
        background-color: #fff;
        -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15), 0px 0px 1px 1px rgba(0, 0, 0, 0.05);
        -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15), 0px 0px 1px 1px rgba(0, 0, 0, 0.05);
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15), 0px 0px 1px 1px rgba(0, 0, 0, 0.05);
        transition: height 0.25s linear;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 30px;
    }

    .modal-content {
        border: 0px;
        border-radius: 30px;
    }

    .ng-modal-wrapper {
        display: inline-block;
        vertical-align: middle;
        padding: 50px 0;
        width: 100%;
        position: relative;
    }

    .modal-dialog label {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;
        padding: 3px 10px 4px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        margin-top: 2px;
        background: none;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: -.016em;
        -moz-transition-property: all;
        -o-transition-property: all;
        -webkit-transition-property: all;
        transition-property: all;
        -moz-transition-duration: 300ms;
        -o-transition-duration: 300ms;
        -webkit-transition-duration: 300ms;
        transition-duration: 300ms;
        border-radius: 30px;
    }

    .modal-buttons .right-buttons {
        float: right;
    }

    .modal-inp-text {
        width: 100%;
        height: 77px;
        background: #fff;
        border: 1px solid #c4c9d5;
        border-radius: 10px;
        padding: 25px 15px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.2;
        color: #686f7c;
        margin-top: 6px
    }

    .modal-title h1 {
        font-size: 26px;
    }

    .modal-header {
        justify-content: center;
        padding: 2rem;
        border-bottom: 0;
    }
</style>