@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Add Dispatch";
}

<body>
    <div class="admin">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="tabContent">
                        <div class="title">
                            <a href="#" onclick="history.back();">@Localizer["BackToDispatcher"]</a>
                        </div>
                        <div class="title">
                            <h1 class="text-info-header-1">@Localizer["AddNewDispatcher"]</h1>
                        </div>
                        <form action="" method="post" enctype="multipart/form-data">
                            <label for="">
                                @Localizer["TypeDispatcher"]
                                <select name="Type" class="height-input input-select" required>
                                    <option value="">@Localizer["ChooseDispatcherType"]</option>
                                    <option value="Central Dispatch">@Localizer["CentralDispatch"]</option>
                                </select>
                            </label>
                            <label for="">
                                @Localizer["LoginDispatch"]
                                <input type="text" name="Login">
                            </label>
                            <label for="">
                                @Localizer["PasswordDispatch"]
                                <input type="text" name="Password">
                            </label>

                            <input type="submit" value="@Localizer["SaveInfo"]" class="btn1" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>