@using Microsoft.AspNetCore.Mvc.Localization

@model WebDispacher.ViewModels.Dispatcher.DispatcherViewModel

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Edit Dispatch";
}

<body>
    <div class="admin">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="tabContent">
                        <div class="title">
                            <a href="#" onclick="history.back();">@Localizer["BackToDispatcher"]</a>
                        </div>
                        <div class="title">
                            <h1 class="text-info-header-1">@Localizer["EditDispatcher"]</h1>
                        </div>
                        <form action="" method="post" enctype="multipart/form-data">
                            <input hidden name="Id" value="@Model.Id" class="inpText validation" type="text" required />
                            <label for="">
                                @Localizer["TypeDispatcher"]
                                <select class="height-input input-select" name="Type" required>
                                    <option value="">@Localizer["ChooseDispatcherType"]</option>
                                    <option value="Central Dispatch">Central Dispatch</option>
                                </select>
                            </label>
                            <label for="">
                                @Localizer["Login"]
                                <input type="text" name="Login" value="@Model.Login">
                            </label>
                            <label for="">
                                @Localizer["Password"]
                                <input type="text" name="Password" value="@Model.Password">
                            </label>

                            <input type="submit" value="@Localizer["SaveInfo"]" class="btn1" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>