@using Microsoft.AspNetCore.Mvc.Localization
@using WebDispacher.Constants;

@inject IViewLocalizer Localizer

@model List<WebDispacher.ViewModels.Order.ShortOrderViewModel>

@{
    ViewData["Title"] = "Dashboard | Billed";
}

<div class="admin">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title">
                    <h1>@Localizer["Orders"]</h1>
                    <button class="btn1 mr-3" id="create-order-btn">@Localizer["CreateOrder"]</button>
                    <a style="background-color: white;color:#686F7C;" data-toggle="collapse" href="#search-form" role="button" aria-expanded="false" aria-controls="search-form">
                        @Localizer["SearchOrders"]
                        <span class="open-chevron">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                            </svg>
                        </span>
                    </a>
                </div>
                <div class="collapse multi-collapse" id="search-form">
                    <div style="margin-top: 15px;" class="card border card-body">
                        <form method="get" action="/Dashbord/Order/Billed">
                            <input class="type-button" type="text" value="@ViewBag.LoadId" id="loadId-input" name="loadId" placeholder="@Localizer["LoadId"]">
                            <input class="type-button" type="text" value="@ViewBag.Name" id="name-input" name="name" placeholder="@Localizer["Name"]">
                            <input class="type-button" type="text" value="@ViewBag.Address" id="address-input" name="address" placeholder="@Localizer["Address"]">
                            <input class="type-button" type="text" value="@ViewBag.Phone" id="phone-input" pattern="@PatternConstants.PhoneNumberWithoutCountryCode" name="phone" placeholder="@Localizer["PhoneNumber"]">
                            <input class="type-button" type="text" value="@ViewBag.Email" id="email-input" pattern="@PatternConstants.Email" name="email" placeholder="@Localizer["Email"]">
                            <input class="type-button" type="text" value="@ViewBag.price" id="price-input" name="price" placeholder="@Localizer["Price"]">
                            <button type="submit" class="btn1 btn-modal mt-2">@Localizer["Search"]</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="tabs">
                    <div class="d-flex orders">
                        <div class="tab" onclick="window.location.href='@Url.Action("NewLoad", "Dashbord", new { loadId = ViewBag.LoadId, name = ViewBag.Name, address=ViewBag.Address, phone = ViewBag.Phone, email = ViewBag.Email, price = ViewBag.price })';">@Localizer["NewLoad"]</div>
                        <div class="tab" onclick="window.location.href='@Url.Action("Assigned", "Dashbord", new { loadId = ViewBag.LoadId, name = ViewBag.Name, address=ViewBag.Address, phone = ViewBag.Phone, email = ViewBag.Email, price = ViewBag.price })';">@Localizer["Assigned"]</div>
                        <div class="tab" onclick="window.location.href = '@Url.Action("Pickedup", "Dashbord", new { loadId = ViewBag.LoadId, name = ViewBag.Name, address=ViewBag.Address, phone = ViewBag.Phone, email = ViewBag.Email, price = ViewBag.price })';">@Localizer["PickedUp"]</div>
                        <div class="tab" onclick="window.location.href='@Url.Action("Delivered", "Dashbord", new { loadId = ViewBag.LoadId, name = ViewBag.Name, address=ViewBag.Address, phone = ViewBag.Phone, email = ViewBag.Email, price = ViewBag.price })';">@Localizer["Delivered"]</div>
                        <div class="tab whiteborder" onclick="window.location.href='@Url.Action("Billed", "Dashbord", new { loadId = ViewBag.LoadId, name = ViewBag.Name, address=ViewBag.Address, phone = ViewBag.Phone, email = ViewBag.Email, price = ViewBag.price })';">@Localizer["Billed"]</div>
                        <div class="tab" onclick="window.location.href='@Url.Action("Paid", "Dashbord", new { loadId = ViewBag.LoadId, name = ViewBag.Name, address=ViewBag.Address, phone = ViewBag.Phone, email = ViewBag.Email, price = ViewBag.price })';">@Localizer["Paid"]</div>
                        <div class="tab" onclick="window.location.href='@Url.Action("Archived", "Dashbord", new { loadId = ViewBag.LoadId, name = ViewBag.Name, address=ViewBag.Address, phone = ViewBag.Phone, email = ViewBag.Email, price = ViewBag.price })';">@Localizer["Archived"]</div>
                        <div class="tab" onclick="window.location.href='@Url.Action("Deleted", "Dashbord", new { loadId = ViewBag.LoadId, name = ViewBag.Name, address=ViewBag.Address, phone = ViewBag.Phone, email = ViewBag.Email, price = ViewBag.price })';">@Localizer["Deleted"]</div>
                    </div>
                    <div class="tabContent">
                        @for (int i = 0; i < Model.Count; i++)
                        {
                            <div class="one-line">
                                <div class="top-line">
                                    <div class="left">
                                        <button class="btn3" onClick='window.location.href="@Url.Action( "FullInfoOrder", new { id = Model[i].Id, status = "Delivered" } )"'>@Localizer["LoadId"]: @Model[i].OrderId</button>
                                        <div class="text"><img src="~/img/dolar.svg" alt=""> @Model[i].Price</div>
                                        <div class="text"><img src="~/img/clock.svg" alt=""> @Model[i].PaymentMethod</div>
                                    </div>
                                    <div class="right">
                                        <a class="btn3" href="@Url.Action("EditOrder", new { id = Model[i].Id, status = "Billed" } )">@Localizer["Edit"]</a>
                                        <a class="btn3 open-ConfirmDelete" data-toggle="modal" data-id="@Model[i].Id" href="#confirmDeleteEntryModal">@Localizer["Delete"]</a>
                                        <a class="btn3" @*href="DeletedOrder?id=@ViewBag.Orders[i].Id&status=Delivered"*@>@Localizer["PayShipping"]</a>
                                    </div>
                                </div>
                                <div class="info-line">
                                    <div class="info-block">
                                        <h3>@Localizer["Origin"]</h3>
                                        <p> @Model[i].PickedUp.Address, @Model[i].PickedUp.City,  @Model[i].PickedUp.State, @Model[i].PickedUp.ZipCode</p>
                                        @{
                                            var phonePickedUp = string.Empty;
                                            if (Model[i]?.PickedUp?.PhoneNumber.DialCode != 0 && !string.IsNullOrEmpty(Model[i]?.PickedUp?.PhoneNumber.Number))
                                            {
                                                phonePickedUp = $"+{Model[i].PickedUp.PhoneNumber.DialCode} {Model[i].PickedUp.PhoneNumber.Number}";
                                            }
                                        }
                                        <p>@Localizer["Phone"]: @phonePickedUp</p>
                                    </div>
                                    <div class="info-block">
                                        <h3>@Localizer["Destination"]</h3>
                                        <p> @Model[i].Delivery.Address, @Model[i].Delivery.City,  @Model[i].Delivery.State, @Model[i].Delivery.ZipCode</p>
                                        @{
                                            var phoneDelivery = string.Empty;
                                            if (Model[i]?.Delivery?.PhoneNumber.DialCode != 0 && !string.IsNullOrEmpty(Model[i]?.Delivery?.PhoneNumber.Number))
                                            {
                                                phoneDelivery = $"+{Model[i].Delivery.PhoneNumber.DialCode} {Model[i].Delivery.PhoneNumber.Number}";
                                            }
                                        }
                                        <p>@Localizer["Phone"]: @phoneDelivery</p>
                                        <p>@Localizer["DeliveryEstimated"]:@Model[i].DateTimeDelivery.ToString(DateTimeFormats.BaseCalendarDate)</p>
                                    </div>
                                    <div class="info-block">
                                         @if (Model[i].DriverId != null)
                                        {
                                            <p>@Localizer["AssignedTo"] @Model[i].Driver.FirstName @Model[i].Driver.LastName</p>
                                            <p>@Localizer["Phone"]: @Model[i].Driver.PhoneNumber</p>
                                            @if (Model[i].DateTimePaid != null && Model[i].DateTimePaid.Value >= DateTime.Now)
                                            {
                                                <p>@Localizer["CustomerMustPayShippingTo"] @Model[i].DateTimePaid.Value.ToString(DateTimeFormats.FullDateTimeInfoUS)</p>
                                            }
                                            else
                                            {
                                                <p style="color:red;" class="stPData">@Localizer["CustomerMustPayShippingTo"] @Model[i].DateTimePaid.Value.ToString(DateTimeFormats.FullDateTimeInfoUS)</p>
                                            }

                                        }
                                    </div>
                                </div>
                            </div>
                        }
                        <pagination-list actual-pages="functions.GetPages(ViewBag.SelectedPage, ViewBag.count)" selected-page="ViewBag.SelectedPage" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    @await Html.PartialAsync("~/Views/PartView/Modals/ConfirmDelete.cshtml", new ViewDataDictionary(ViewData) { {"ModalId", "confirmDeleteEntryModal"} });
    <script src="~/js/orders.js"></script>
</div>

<script src="~/js/input-replacer.js"></script>
<script>
    setReplacer(document.querySelector('#name-input'), @ExpressionConstants.OnlyLetters);
    setReplacer(document.querySelector('#price-input'), @ExpressionConstants.OnlyDigits);

    $("#phone-input").mask("(999)-999-9999", { placeholder: "(XXX)-XXX-XXXX" });

    const filters = 'loadId=@ViewBag.LoadId&name=@ViewBag.Name&address=@ViewBag.Address&phone=@ViewBag.Phone&email=@ViewBag.Email&price=@ViewBag.price';
   
    ConfirmRemoveEntry(GetDateTimeInFormat(new Date()), `/Dashbord/Order/ArchivedOrder`, `/Dashbord/Order/Billed?${filters}`, '#confirmDeleteEntryModal');

    $('#create-order-btn').on('click', function (e) {
        var body = '?&localDate=' + GetDateTimeInFormat(new Date());

        $.ajax({
            type: "post",
            async: true,
            url: `/Dashbord/Order/Creat${body}`,
            success: function (id) {
                window.location.href = `/Dashbord/Order/Edit?id=${id}&status=NewLoad`
            },
        });
    });

    $(document).ready(function () {
        ShowAlert();

        const loadId = $('#loadId-input').val();
        const name = $('#name-input').val();
        const address = $('#address-input').val();
        const phone = $('#phone-input').val();
        const email = $('#email-input').val();
        const price = $('#price-input').val();

        if (loadId !== "" || name !== "" || address !== ""
            || phone !== "" || email !== ""
            || price !== "") {
            $("#search-form").addClass('show')
        }
    });
</script>

<style>
    input::placeholder {
        color: #c4c9d5;
        font-size: 16px;
    }
</style>