@using DaoModels.DAO.Models;
@using Microsoft.AspNetCore.Mvc.Localization
@using System.Globalization;
@using WebDispacher.Constants;
@using WebDispacher.ViewModels;
@using WebDispacher.ViewModels.Order;

@model OrderWithHistoryViewModel;

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Dashboard | Order Information";
    var vehicles = Model.Order.Vehicles.ToList();
}

<body xmlns="http://www.w3.org/1999/html">
    <div class="admin Billing">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title text-info-padding-5">
                        <a href="#" onclick="history.back();">@Localizer["BackToOrders"]</a>
                    </div>
                    <div class="title text-info-padding-5">

                        <h1 class="text-info-header-1">@Localizer["InformationHeader"]</h1>
                    </div>
                    <p class="text-info-p-1 text-info-padding-5"><b>@Localizer["LoadId"]:</b> <span>@Model.Order.OrderId</span></p>
                    <p class="text-info-p-1 text-info-padding-5">
                        <b>@Localizer["Price"]:</b> 
                        <span>
                            <i class="bi bi-currency-dollar"></i>
                                @Model.Order.Price</span>
</p>
                    <p class="text-info-p-1 text-info-padding-5"><b>@Localizer["Status"]:</b> <span>@Model.Order.CurrentStatus.StatusName</span></p>
                    <div class="text-r">
                        <p class="text-info-header-3 text-info-padding-5"><b>@Localizer["Veh"]</b></p>
                    </div>
                    <table>
                        <tr class="blue">
                            <td>№</td>
                            <td>VIN</td>
                            <td>@Localizer["Year"]</td>
                            <td>@Localizer["Make"]</td>
                            <td>@Localizer["Model"]</td>
                            <td>@Localizer["Type"]</td>
                            <td>@Localizer["Color"]</td>
                            <td>@Localizer["LotNumber"]</td>
                        </tr>
                        @if (vehicles != null)
                        {
                            @for (int i = 0; i < vehicles.Count; i++)
                            {
                                <tr>
                                    <td>@i</td>
                                    <td>@vehicles[i].VIN</td>
                                    @{
                                        string yearString = Convert.ToInt32(@vehicles[i]?.VehicleModel?.Year) != 0
                                        ? @vehicles[i]?.VehicleModel?.Year.ToString()
                                        : string.Empty;
                                    }
                                    <td>@yearString</td>
                                    <td>@vehicles[i]?.VehicleModel?.VehicleBrand.Name</td>
                                    <td>@vehicles[i]?.VehicleModel?.Name</td>
                                    <td>@vehicles[i]?.VehicleModel?.VehicleBody.Name</td>
                                    <td>@vehicles[i].Color</td>
                                    <td>@vehicles[i].Lot</td>
                                </tr>
                            }
                        }
                    </table>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="text-r">
                                <h3 class="text-info-header-3 text-info-padding-5">@Localizer["Origin"]</h3>
                                <p class="text-info-p">
                                    @Model.Order.PickedUp.Address, @Model.Order.PickedUp.City, @Model.Order.PickedUp.State, @Model.Order.PickedUp.ZipCode <br>
                                    <b>@Localizer["Contact"]: </b>@Model.Order.PickedUp.ContactName <br>
                                    @{
                                        var phonePickedUp = string.IsNullOrEmpty(Model.Order.PickedUp.PhoneNumber.Number) ? string.Empty : $"+{@Model.Order.PickedUp.PhoneNumber.DialCode} {@Model.Order.PickedUp.PhoneNumber.Number}";
                                    }
                                    <b>@Localizer["Phone"]:</b> +@Model.Order.PickedUp.PhoneNumber.DialCode @Model.Order.PickedUp.PhoneNumber.Number <br>
                                    <b>@Localizer["PickupDate"]: </b> @Model.Order.DateTimePickedUp.ToString(DateTimeFormats.DateOfBirth)<br>
                                    <b>@Localizer["PickupEmail"]: </b> @Model.Order.PickedUp.Email
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="text-r">
                                <h3 class="text-info-header-3">@Localizer["Destination"]</h3>
                                <p class="text-info-p">
                                    @Model.Order.Delivery.Address, @Model.Order.Delivery.City, @Model.Order.Delivery.State, @Model.Order.Delivery.ZipCode <br>
                                    <b>@Localizer["Contact"]:</b> @Model.Order.Delivery.ContactName<br>
                                    @{
                                        var phoneDelivery = string.IsNullOrEmpty(Model.Order.Delivery.PhoneNumber.Number) ? string.Empty : $"+{@Model.Order.Delivery.PhoneNumber.DialCode} {@Model.Order.Delivery.PhoneNumber.Number}";
                                    }
                                    <b>@Localizer["Phone"]:</b> @phoneDelivery<br>
                                    <b>@Localizer["DeliveryDate"]:</b> @Model.Order.DateTimeDelivery.ToString(DateTimeFormats.DateOfBirth)<br>
                                    <b>@Localizer["DeliveryEmail"]:</b> @Model.Order.Delivery.Email
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="text-r">
                                <h3 class="text-info-header-3">@Localizer["Customer"]</h3>
                                <p class="text-info-p">
                                    <b>@Localizer["Contact"]:</b> @Model.Order.Contact<br>
                                    @{
                                        var phoneCustomer = string.IsNullOrEmpty(Model.Order.PhoneNumber.Number) ? string.Empty : $"+{@Model.Order.PhoneNumber.DialCode} {@Model.Order.PhoneNumber.Number}";
                                        var faxPhone = string.IsNullOrEmpty(Model.Order.FaxNumber.Number) ? string.Empty : $"+{@Model.Order.FaxNumber.DialCode} {@Model.Order.FaxNumber.Number}";
                                    }
                                    <b>@Localizer["Phone"]:</b> @phoneCustomer<br>
                                    <b>@Localizer["Fax"]:</b> @faxPhone<br>
                                    <b>@Localizer["McNumber"]:</b> @Model.Order.McNumber
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="text-r">
                                <h3 class="text-info-header-3">@Localizer["PaymentInfo"]</h3>
                                <p class="text-info-p">
                                    <b>@Localizer["Price"]:</b> @Model.Order.Price<br>
                                    @if (Model.Order.BrokerFee != 0)
                                    {
                                        <b>@Localizer["BrokerFee"]:</b> @Model.Order.BrokerFee<br>
                                    }
                                    <b>@Localizer["PaymentMethod"]:</b> @Model.Order.PaymentMethod<br>
                                    <b>@Localizer["OnDeliveryToCarrier"]: </b> 
                                </p>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="text-r">
                                <h3 class="text-info-header-3">@Localizer["Instructions"]</h3>
                                <p class="text-info-p">@Model.Order.Instructions</p>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="text-r">
                                <h3 class="text-info-header-3">BOL</h3>
                                @if (vehicles != null)
                                {
                                    @foreach (var t in vehicles)
                                    {
                                        string yearString = Convert.ToInt32(@t?.VehicleModel?.Year) != 0
                                        ? @t?.VehicleModel?.Year.ToString()
                                        : string.Empty;
                                        
                                        <a href="@ViewBag.BaseUrl/Photo/BOL/@t.Id">@t?.VehicleModel?.VehicleBrand?.Name @t?.VehicleModel?.Name @yearString</a><br>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12 mb-2">
                            <div class="right-bar-about">
                                <h3 class="text-info-header-3">@Localizer["ActionHistory"]</h3>
                            </div>
                        </div>
                    </div> 
                    <div class="archive-item">
                        <div class="archive-title">
                            <p style="font-size: 20px">
                                @Localizer["ShowHistory"]
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                                    </svg>
                                </span>
                            </p>
                        </div>
                        <div class="content">
                            <div class="row">
                               @for (var i = 0; i < Model.Actions.Count; i++)
                                {
                                    <div class="col-md-3 mb-4" data-toggle="modal" data-target="#myModal_@i">
                                        <div class="one text-info-p">
                                            <p>
                                                <b>@Localizer["DateAction"]:</b> @Model.Actions[i].GroupAction.ToString(DateTimeFormats.DateTimeInfoUS)
                                            </p>
                                            <p>
                                                <b>Count Actions: </b> @Model.Actions[i].Groups.Count</p>
                                        </div>
                                    </div>
                               }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @for (var i = 0; i < Model.Actions.Count; i++)
    {
        <div class="modal fade" id="myModal_@i" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <content class="ng-modal-wrapper">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header modal-title">
                            <h1 class="modal-h1 modal-header-2" id="DeleteDriverLabel">History for @Model.Actions[i].GroupAction.ToString(DateTimeFormats.DateTimeInfoUS) ( @Model.Actions[i].Groups.Count )</h1>
                        </div>
                        <div class="modal-body">
                            <div class="tabContent mt-0">
                                <div style="padding:3px 0px 4px;">
                                    @foreach (var action in Model.Actions[i].Groups)
                                    {
                                        <div class="one text-info-p">
                                            <p>
                                                <b>Action Type:</b> @action.ActionType
                                            </p>
                                            @if (action.VehicleId.HasValue)
                                            {
                                                {
                                                    var modelName = action?.VehicleDetails?.VehicleModel?.Name != null ? action.VehicleDetails.VehicleModel.Name : "";

                                                    <p>
                                                    <b>Vehicle:</b> @action.VehicleId.Value @modelName
                                                </p>
                                                }
                                            }
                                            <p>
                                                <b>Field Action:</b> @action.FieldAction
                                            </p>
                                            <p>
                                                <b>Content From:</b> @action.ContentFrom
                                            </p>
                                            <p>
                                                <b>Content To:</b> @action.ContentTo
                                            </p>
                                            <p>
                                                <b>Time Action:</b> @action.DateTimeAction.ToString(DateTimeFormats.TimeInfoUS)
                                            </p>
                                        </div>
                                        <br/>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="tabContent mt-0">
                            </div>
                        </div>
                    </div>
                </div>
            </content>
        </div>
    }
</body>

<script>
    const archiveItems = document.querySelectorAll(".archive-item");
    archiveItems.forEach(item => {
        item.querySelector(".archive-title").addEventListener("click", () => {
            item.classList.toggle("active");
            let contentItem = item.querySelector(".content");
            if (contentItem.style.maxHeight) {
                contentItem.style.maxHeight = null;
            }else{
                contentItem.style.maxHeight = contentItem.scrollHeight + 'px'
            }
        })
    })
</script>

<style>
    .archive-item {
        cursor: pointer;
    }

    .archive-title {
        display: flex;
        justify-content: space-between;
        align-items:center;
    }

    .archive-title h3 {
        font-size: 1.7rem;
    }

    .archive-title span {
        vertical-align: middle;
    }

    .content {
        visibility: hidden;
        overflow: hidden;
        max-height: 0;
        opacity: 0;
        transition: visibility 1s, opacity 0.5s ease, max-height 0.5s ease;
    }

    .archive-item.active .content {
        visibility: visible;
        opacity: 1;
        transition: visibility 1s, opacity 0.5s ease;
    }

    .archive-item .archive-title span svg {
        transform: rotate(360deg);
        transition: transform 0.3s ease;
    }

    .archive-item.active .archive-title span svg {
        transform: rotate(180deg);
        transition: transform 0.3s ease;
    }

    .archive-item p {
        font-size: 13px;
    }

    p {
        font-size: 15px;
    }

    h3 {
        font-size: 16px;
    }

    .Billing table td{
        width: 350px;
    }
</style>

<style>
    .modal-dialog {
        position: absolute;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        top: 100px;
        width: 520px !important;
        text-align: left;
        background-color: #fff;
        -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15), 0px 0px 1px 1px rgba(0, 0, 0, 0.05);
        -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15), 0px 0px 1px 1px rgba(0, 0, 0, 0.05);
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15), 0px 0px 1px 1px rgba(0, 0, 0, 0.05);
        transition: height 0.25s linear;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 30px;
    }

    .modal-content {
        border: 0px;
        border-radius: 30px;
    }

    .ng-modal-wrapper {
        display: inline-block;
        vertical-align: middle;
        padding: 50px 0;
        width: 100%;
        position: relative;
    }

    .modal-dialog label {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;
        padding: 3px 10px 4px 0px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        margin-top: 2px;
        background: none;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: -.016em;
        -moz-transition-property: all;
        -o-transition-property: all;
        -webkit-transition-property: all;
        transition-property: all;
        -moz-transition-duration: 300ms;
        -o-transition-duration: 300ms;
        -webkit-transition-duration: 300ms;
        transition-duration: 300ms;
        border-radius: 30px;
    }

    .modal-buttons .right-buttons {
        float: right;
    }

    .modal-inp-text {
        width: 100%;
        height: 77px;
        background: #fff;
        border: 1px solid #c4c9d5;
        border-radius: 10px;
        padding: 25px 15px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.2;
        color: #686f7c;
        margin-top: 6px
    }

    .modal-title h1 {
        font-size: 26px;
    }

    .modal-header {
        justify-content: center;
        padding: 1rem;
    }

    .modal-footer {
        justify-content: center;
        padding: 1rem;
    }
</style>