@using Microsoft.AspNetCore.Mvc.Localization
@using System.Globalization;
@using WebDispacher.Constants;

@inject IViewLocalizer Localizer

@model WebDispacher.Models.Driver.FullInformationInspection

@{
    ViewData["Title"] = "All Inspection Truck";
}

<body>
    <div class="admin">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="tabContent">
                        <div class="title">
                            <a href="/Driver/Drivers">@Localizer["BackToDrivers"]</a>
                        </div>
                        <div class="title">
                            <h1 class="text-info-header-1">@Localizer["TruckAndTrailerInspection"]</h1>
                        </div>
                    </div>
                    <select class="width-auto" onchange="window.location.href = 'InspactionTrucks?driverId=@ViewBag.IdDriver&idTruck=@ViewBag.IdTruck&idTrailer=@ViewBag.IdTrailer&date=' + this.options[this.selectedIndex].value;">
                        <option selected value="0">@Localizer["AllTime"]</option>
                        @for (DateTime i = DateTime.Now; i >= new DateTime(2019, 8, 1); i = i.AddMonths(-1))
                        {
                            if (i.ToShortDateString() != ViewBag.SelectData)
                            {
                                <option>@i.ToShortDateString()</option>
                            }
                            else
                            {
                                <option selected>@ViewBag.SelectData</option>
                            }
                        }
                    </select>
                    <select class="inpContentInspection width-auto" onchange="window.location.href = 'InspactionTrucks?driverId=' + this.options[this.selectedIndex].value  + '&idTruck=@ViewBag.IdTruck&idTrailer=@ViewBag.IdTrailer&date=@ViewBag.SelectData'">
                        <option selected value="0">@Localizer["AllDrivers"]</option>
                        @for (int i = 0; i < Model.Drivers.Count; i++)
                        {
                            @if (ViewBag.IdDriver.ToString() == Model.Drivers[i].Id.ToString())
                            {
                                <option selected value="@Model.Drivers[i].Id">@Model.Drivers[i].FirstName @Model.Drivers[i].LastName</option>
                            }
                            else
                            {
                                <option value="@Model.Drivers[i].Id">@Model.Drivers[i].FirstName @Model.Drivers[i].LastName</option>
                            }
                        }
                    </select>
                    <select class="inpContentInspection width-auto" onchange="window.location.href = 'InspactionTrucks?driverId=@ViewBag.IdDriver&idTruck=' + this.options[this.selectedIndex].value + '&idTrailer=@ViewBag.IdTrailer&date=@ViewBag.SelectData'">
                        <option selected value="0">@Localizer["AllTruck"]</option>
                        @for (int i = 0; i < Model.Trucks.Count; i++)
                        {
                            @if (ViewBag.IdTruck.ToString() == Model.Trucks[i].Id.ToString())
                            {
                                <option selected value="@Model.Trucks[i].Id">@Model.Trucks[i].Brand @Model.Trucks[i].Model</option>
                            }
                            else
                            {
                                <option value="@Model.Trucks[i].Id">@Model.Trucks[i].Brand @Model.Trucks[i].Model</option>
                            }
                        }
                    </select>
                    <select class="inpContentInspection width-auto" onchange="window.location.href = 'InspactionTrucks?driverId=@ViewBag.IdDriver&idTruck=@ViewBag.IdTruck&idTrailer='+ this.options[this.selectedIndex].value +'&date=@ViewBag.SelectData'">
                        <option selected value="0">@Localizer["AllTrailer"]</option>
                        @for (int i = 0; i < Model.Trailers.Count; i++)
                        {
                            @if (ViewBag.IdTrailer.ToString() == Model.Trailers[i].Id.ToString())
                            {
                                <option selected value="@Model.Trailers[i].Id">@Model.Trailers[i].Brand</option>
                            }
                            else
                            {
                                <option value="@Model.Trailers[i].Id">@Model.Trailers[i].Brand</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="row pt-4">
                <div class="col-md-12">
                    @for (int i = 0; i < Model.Inspection.Count; i++)
                    {
                        <div class="one-line">
                            <div class="top-line">
                                <div class="left">
                                    <div class="contact">
                                        <p>
                                            <strong>@Model.Inspection[i].NameDriver</strong>
                                        </p>
                                        <p>
                                            <a>@Localizer["Truck"]: </a>@Model.Inspection[i].TruckInformation
                                        </p>
                                        <p>
                                            <a>@Localizer["Trailer"]: </a>@Model.Inspection[i].TrailerInformation
                                        </p>

                                        <p>
                                            <a>@Localizer["Inspection"]: </a>@Model.Inspection[i].DateTimeInspection.ToString(DateTimeFormats.FullDateTimeInfoUS)
                                        </p>
                                    </div>
                                </div>
                                <div class="right">
                                    <button class="btn3" onclick="window.location.href='InspactionTruck?idInspection=@Model.Inspection[i].Id&driverId=@ViewBag.IdDriver&date=@ViewBag.SelectData'">@Localizer["OpenBOL"]</button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</body>