@model WebDispacher.ViewModels.Driver.DriverViewModel
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Edit Driver";
}

<body>
    <div class="admin">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="tabContent">
                        <div class="title">
                            <a href="#" onclick="history.back();">@Localizer["BackToDrivers"]</a>
                        </div>
                        <div class="title">
                            <h1 class="text-info-header-1">@Localizer["InfoAboutDriver"]</h1>
                        </div>
                        <form action="" method="post">
                            <label class="big-label" for="">
                                @Localizer["FirstName"]
                                <input class="height-input" type="text" name="FirstName" value="@Model.FullName" required>
                            </label>
                            <label class="big-label" for="">
                                @Localizer["LastName"]
                                <input class="height-input" type="text" name="LastName" value="" required>
                            </label>
                            <label class="big-label" for="">
                                @Localizer["Email"]
                                <input class="height-input" type="email" name="EmailAddress" value="@Model.EmailAddress" required>
                            </label>
                            <label class="big-label" for="">
                                @Localizer["Password"]
                                <input class="height-input" type="text" name="Password" value="@Model.Password" required>
                            </label>
                            <label class="big-label" for="">
                                @Localizer["PhoneNumber"]
                                <input class="height-input" type="text" name="PhoneNumber" placeholder="XXXXXXXXXX" pattern="[0-9]{4,12}" value="@Model.PhoneNumber" required>
                            </label>
                            <label class="big-label" for="">
                                @Localizer["TrailerCapacity"]
                                <input class="height-input" type="text" name="TrailerCapacity" value="@Model.TrailerCapacity" required>
                            </label>
                            <label class="big-label pb-3" for="">
                                @Localizer["DriverLicenseNumber"]
                                <input class="height-input" type="text" name="DriversLicenseNumber" value="@Model.DriversLicenseNumber" required>
                            </label>
                            <input name="id" value="@Model.Id" style="display:none" />
                            <input class="btn1 height-input big-font-size big-label" type="submit" value="@Localizer["SaveInfo"]" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>