@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Inspection Driver";
}
<link rel="stylesheet" href="~/css/BOL/bol.css">
<link rel="stylesheet" href="~/libs/jquery/lightgallery.css">
<body>
    <div class="admin Pickup">
        <div class="container">
            <div class="col-md-8">
                <div class="title">
                    <h1>@Localizer["InspectionHeader"]</h1>
                </div>
                <p><b>@Localizer["Driver"]:</b> <span> @ViewBag.Drivers.FullName</span></p>
                <p><b>@Localizer["InspectionTruck"]:</b> <span> @ViewBag.InspectionTruck.Date</span></p>
                <p><b>@Localizer["Truck"]:</b> <span>@ViewBag.Truck</span></p>
                <p><b>@Localizer["Trailer"]:</b> <span>@ViewBag.Trailer</span></p>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h3>@Localizer["PhotoInspection"]</h3>
                    </div>
                    <div class="container">
                        <div class="row" id="lightgallery">
                    
                        @for (int i = 0; i < ViewBag.InspectionTruck.PhotosTruck.Count; i++)
                        {
                            try
                            {
                                    <div class="col-md-3" style="max-width: 263px;height: 148px;margin-bottom:10px" 
                                        data-src="@ViewBag.BaseUrl/Driver/Image?name=@ViewBag.InspectionTruck.PhotosTruck[i].path&type=jpg">
                                    <div class="image-box" style="cursor: zoom-in;">
                                        <img style="max-width: 100%" src="@ViewBag.BaseUrl/Driver/Image?name=@ViewBag.InspectionTruck.PhotosTruck[i].path&type=jpg" />
                                        @*<div class="text-mask">
                                            <div class="text-content">
                                                <h3>FileName</h3>
                                            </div>
                                        </div>*@
                                    </div>
                                </div>
                            }
                            catch
                            {
                                <p>@Localizer["NoPhoto"]</p>
                            }
                        }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="~/libs//jquery/dist/lightgallery-all.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#lightgallery').lightGallery({

        });
    });
</script>