@using Microsoft.AspNetCore.Mvc.Localization
@using System.Globalization;
@using WebDispacher.Constants;

@model WebDispacher.ViewModels.Driver.CheckDriverViewModel;

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Driver Check";
}

<body>
    <div class="admin">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title">
                        <h1>@Localizer["DriverCheck"]</h1>
                    </div>
                    <form method="get">
                        <div class="card border card-body" style="display: flex;flex-direction: row;">
                            <div class="item-search">
                                <label>
                                    @Localizer["FirstName"]
                                    <input class="type-button" id="search-first-name-driver" placeholder="@Localizer["FirstNameLabel"]" asp-for="Search.FirstName" type="text" maxlength="20" required>
                                </label>
                            </div>
                            <div class="item-search">
                                <label>
                                    @Localizer["LastName"]
                                    <input class="type-button" id="search-last-name-driver" placeholder="@Localizer["LastNameLabel"]" asp-for="Search.LastName" type="text" maxlength="20" required>

                                </label>
                            </div>
                            <div class="item-search big-item ">
                                <label>
                                    @Localizer["DriverLicenseSearch"]
                                    <input class="type-button" id="search-driver-license-number" placeholder="@Localizer["DriverLicenseSearch"]" asp-for="Search.LicenseNumber" maxlength="30" type="text" required>

                                    <span class="info-gray-message">@Localizer["DriverLicenseNumberInfoLabel"]</span>
                                </label>
                            </div>
                            <div class="item-search small-item">
                                <label id="dateOfBirthLabel">
                                    @Localizer["DateOfBirth"]
                                    <input class="type-button" id="search-date-of-birth-driver" placeholder="MM/DD/YYYY" asp-for="Search.DateOfBirth" type="text" required>
                                    <p class="dob-not-current-format text-danger"></p>
                                </label>
                            </div>
                            <div class="item-search item-search-button">
                                <button type="submit" class="btn1 btn-modal">@Localizer["Search"]</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="tabs">
                        <div class="tab whiteborder" onclick="window.location.href='@Url.Action("DriverCheck", "Checks")';">@Localizer["DriverCheck"]</div>
                        <div class="tab" onclick="window.location.href='@Url.Action("CarrierCheck", "Checks")';">@Localizer["CarrierCheck"]</div>
                        <div class="tab" onclick="window.location.href='@Url.Action("BrokerCheck", "Checks")';">@Localizer["BrokerCheck"]</div>
                        <div class="tabContent">
                            @for (var i = 0; i < Model.DriverReports.Count; i++)
                            {
                                <div class="one-line">
                                    <div class="top-line">
                                        <div class="left">
                                            <div class="contact">
                                                <p><strong>@Model.DriverReports[i].FirstName @Model.DriverReports[i].LastName </strong></p>
                                                <p><strong>@Model.DriverReports[i].DriverLicenseNumber</strong></p>
                                                <p><strong>@Localizer["Registration"]:</strong> @Model.DriverReports[i].DateRegistration.ToString(DateTimeFormats.FullDateTimeInfoUS)</p>
                                                <p><strong>@Localizer["Fired"]:</strong> @Model.DriverReports[i].DateFired.ToString(DateTimeFormats.FullDateTimeInfoUS)</p>
                                                <p>@Model.DriverReports[i].Comment</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>

<script src="~/js/input-replacer.js"></script>
<script>
    setReplacer(document.querySelector('#search-first-name-driver'), @ExpressionConstants.OnlyLetters);
    setReplacer(document.querySelector('#search-last-name-driver'), @ExpressionConstants.OnlyLetters);
    setReplacer(document.querySelector('#search-driver-license-number'), @ExpressionConstants.WithoutDashes);

    $.fn.setCursorPosition = function (pos) {
        if ($(this).get(0).setSelectionRange) {
            $(this).get(0).setSelectionRange(pos, pos);
        }
        else if ($(this).get(0).createTextRange) {
            var range = $(this).get(0).createTextRange();
            range.collapse(true);
            range.moveEnd('character', pos);
            range.moveStart('character', pos);
            range.select();
        }
    };

    $('input[name="Search.DateOfBirth"]').on('click', function () {
        $(this).setCursorPosition(0);
    });

    $("button[type=submit]").on('click', function (e) {
        CheckValidDoB(e, "search-date-of-birth-driver", "dob-not-current-format", "dateOfBirthLabel");

    });

    $("#search-date-of-birth-driver").mask("99/99/9999", { placeholder: "MM/DD/YYYY" });

</script>

<style>
    .type-button {
        width: 100%;
    }

    .item-search {
        display: flex;
        margin-right: 0.5rem;
        max-width: 400px;
    }

    .big-item {
        max-width: 400px;
    }

    .small-item {
        max-width: 200px;
    }

    .btn1 {
        height: 54px;
        line-height: unset;
        padding: 8px 20px;
    }

    .item-search-button {
        margin-top: auto;
        margin-bottom: auto;
    }
</style>